@charset "utf-8";
// ======
// ==== 初始样式
// ======

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: nth($bgColor, 1);
	width: 100%;
	min-width: 1124px;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button, select {
	line-height: 1.6;
	font-family: $fontFamily;
	color: nth($fontColor, 1);
	@include fontsize(14px);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, footer, header, nav, section, time, mark, audio, video, input, button, textarea, select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style-type: none;
}

img {
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: nth($color1, 1);
	transition: color .3s ease;

	&:hover {
		color: nth($color1, 2);
	}
}

// Clean
.clearfix {
	zoom: 1;

	&:after, &:before {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

// 浮动左
.left {
	float: left;
}

// 浮动右
.right {
	float: right;
}

// 去掉手势
.nocursor {
	cursor: default;
}

// 禁止选择
.nocopy {
	user-select: none;
}

// 文字截断
.crop {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

// 图片懒加载渐显
.fadeIn{
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// 宽度容器
.container {
	margin-right: auto;
	margin-left: auto;
	position: relative;

	& {
		@extend .container;
		width: 1124px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&-1 {
		@extend .container;
		width: 1124px;
		padding-left: 0;
		padding-right: 0;
	}
}

// 边距
.margin {
	&-tb {
		margin-top: 28px;
		margin-bottom: 28px;
	}
}

// 页面左栏
.main {
	width: 804px;
	margin-bottom: -20px;
}

// 页面右栏
.sidebar {
	width: 300px;
	margin-bottom: -20px;
}

.widget {
	background: #ffffff;
	box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
	border: 1px solid #dfdfdf;
	margin-bottom: 20px;
	overflow: hidden;
}
