@charset "utf-8";
// ======
// ==== 变量/函数
// ======

// 字体
$fontFamily: arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif, SimSun;

// 全局背景，禁止背景
$bgColor: #f0f0f0 #F9F9F9 #F5F5F5!default;

// 标题颜色 (默认, 副标题, 小标题)
$fontColor: #333333 #666666 #999999 !default;

// 主题色, 触发, 按下
$color1: #34b9be #46c5ca #14a29d !default;

// 绿色, 触发, 按下
$color2: #4eb14e #5cbd59 #45a744 !default;

// 红色, 触发, 按下
$color3: #ff825b #ff906d #fa734a !default;

// 橙色, 触发, 按下
$color4: #f7c05e #ffcb71 #f9b336 !default;

// 灰色, 触发, 按下
$color5: #ddd #e4e4e4 #d9d9d9 !default;

// 边框线
$borderColor: #eaeaea !default;

// PX转rem
@function pxToRem($px) {
	@return $px / 10px * 1rem;
}

// 生成字体大小
@mixin fontsize($fontsize: 14px) {
	font-size: $fontsize;
	// font-size: pxToRem($fontsize);
}

//icon样式

@font-face {font-family: "iconfont";
  src: url('community-font/iconfont.eot?t=1468311019'); /* IE9*/
  src: url('community-font/iconfont.eot?t=1468311019#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('community-font/iconfont.woff?t=1468311019') format('woff'), /* chrome, firefox */
  url('community-font/iconfont.ttf?t=1468311019') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('community-font/iconfont.svg?t=1468311019#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  color: nth($color1, 1);
  font-style:normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gerenzhongxinicon:before { content: "\e606"; }
.icon-huifu:before { content: "\e600"; }
.icon-xiangshang:before { content: "\e607"; }
.icon-xiangxia:before { content: "\e608"; }
.icon-xiangyou:before { content: "\e609"; }
.icon-xiangzuo:before { content: "\e60a"; }
.icon-shanchu:before { content: "\e601"; }
.icon-xiangji:before { content: "\e602"; }
.icon-bianji:before { content: "\e603"; }
.icon-cuowu:before { content: "\e604"; }
.icon-zhengque:before { content: "\e605"; }

//主样式
.b-container{
	font-family: "Microsoft YaHei";
	position: relative;
	width: 1124px;
	margin: 28px auto;
	background: $bgColor;
	.aside{
		position: relative;
		float: left;
		background: white;
		width: 210px;
		text-align: center;
		line-height: 38px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		&>ul{
			padding: 20px 0;
			.link:hover{
				border-left:4px solid nth($color1, 1);
				border-right:4px solid nth($bgColor, 1);  
				background-color: nth($bgColor, 1);
				&>a{
					color: nth($color1, 1);
				}
			}
			.active{
				border-left:4px solid nth($color1, 1);
				border-right:4px solid nth($bgColor, 1);  
				background-color: nth($bgColor, 1);
				&>a{
					color: nth($color1, 1);
				}
			}			
			&>li{
				&>ul{
					&>li{
						&:hover{
							border-left:4px solid nth($color1, 1);
							border-right:4px solid nth($bgColor, 1);  
							background-color: nth($bgColor, 1);
							&>a{
								color: nth($color1, 1);
							}				
						}
						&>a{
							color: nth($fontColor, 2);
							font-size: 14px;
							position: relative;
							.badge{
								left: 70px;
							}
						}
					}
					.active{
						border-left:4px solid nth($color1, 1);
						border-right:4px solid nth($bgColor, 1);  
						background-color: nth($bgColor, 1);
						&>a{
							color: nth($color1, 1);
						}
					}		
				}
				&>a{
					position: relative;
					color: nth($fontColor, 1);
					font-size: 16px;
					.badge{
						left: 75px;
					}
				}
				&>h3{
					color: nth($fontColor, 1);
					font-size: 16px;
					font-weight: normal;
				}
			}
		}
		.badge{
			position: absolute;
			top: 3px;
			display: inline-block;
			min-width: 10px;
			padding: 1px 4px;
			font-size: 12px;
			line-height: 1;
			color: #fff;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			background-color: nth($color1, 1);
			border-radius: 10px;
		}
	}
	//我的消息
	.my-news{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		h1{
			color: nth($color1, 1);
			font-size: 18px;
			margin-left: 30px;
			height: 54px;
			line-height: 54px;
		}
		.content{
			border-top: 1px solid #dfdfdf;
			padding-bottom: 32px;
			.item{
				position: relative;
				width: 765px;
				margin-left: 30px;
				border-top: 1px solid #dfdfdf;
				&:first-child{
					border-top: 0;
				}
				&:hover{
					background-color: nth($bgColor, 3); 
					.respond-postings{
						.respond-p{
							.delete{
								display: inline-block;
							}	
						}
					}
				}
				img{
					position: absolute;
					width: 60px;
					height: 60px;
					border-radius: 30px;
					left: 10px;
					top: 17px;
				}
				.respond-postings{
					position: relative;
					padding:24px 0 24px 90px;
					.user{
						font-size: 16px;
					}
					.r-content{
						width: 458px;
						font-size: 16px;
						color: nth($color1, 1);
					}
					.respond-p{
						margin-top: 5px;
						font-size: 14px;
						.rmp{
							display: inline-block;
							color: nth($fontColor, 3);
						}
						.l-posting{
							.posting{
								display: inline-block;
								color: nth($fontColor, 1);
								text-indent: 10px;
								width: 448px;
								overflow:hidden; 
								text-overflow:ellipsis;
								white-space:nowrap;
							}
						}
						.delete{
							display: none;
							cursor: pointer;
							float: right;
							margin-right: 11px;
							.del{
								font-size: 12px;
								color: nth($fontColor, 2);
							}
							.iconfont,.del{
								vertical-align: middle;
							}
						}
						a{
							display: inline-block;
							height: 22px;
						}
						.respond{
							cursor: pointer;
							display: inline-block;
							float: right;
							margin-right: 20px;
							.res{
								font-size: 12px;
								color: nth($fontColor, 2);
							}
							.iconfont,.res{
								vertical-align: middle;
							}
						}
						.rmp,.l-posting,.delete,.respond{
							vertical-align: middle;
						}	
					}
				}
				.time{
					position: absolute;
					text-align: right;
					width: 70px;
					top: 28px;
					right: 20px;
					font-size: 14px;
					color: nth($fontColor, 3);
				}
			}
			.respond-bottom{
				display: none;
				margin-left: 120px;
				width: 540px;
				.respond-box{
					height: 96px;
					width: 540px;
					background-color: nth($bgColor, 3);
					font-size: 16px;
					padding: 11px 15px; 
					text-align: left;
					color: nth($fontColor, 3);
					resize: none;
					border: 1px solid #FFFFFF;
				}
				.respond-btn{
					margin-top: 10px;
					width: 112px;
					height: 26px;
					line-height: 26px;
					background-color: nth($color1, 1); 
					color: #fff;
					border-radius: 5px;
				}
				.word-count{
					margin-top: 10px;
					font-size: 14px;
					color: nth($fontColor, 3);
					.count{
						color: nth($fontColor, 2); 
					}
				}
			}
		}
	}
	//文章收藏
	.article-collection{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		h1{
			color: nth($color1, 1);
			font-size: 18px;
			margin-left: 30px;
			height: 54px;
			line-height: 54px;
		}
		.content{
			border-top: 1px solid #dfdfdf;
			padding-bottom: 32px;
			.item{
				width: 766px;
				margin-left: 30px;
				height: 49px;
				line-height: 49px;
				&:first-child{
					margin-top: 8px;
				}
				&:hover{
					background-color: nth($bgColor, 1);	
				}
				.article{
					display: inline-block;
					max-width: 530px;
					font-size: 16px;
					color: nth($fontColor, 1);
					overflow:hidden; 
					text-overflow:ellipsis;
					white-space:nowrap;
				}
				.time{
					display: inline-block;
					text-indent: 14px;
					font-size: 14px;
					color: nth($fontColor, 3);
				}
				.delete{
					cursor: pointer;
					display: inline-block;
					float: right;
					margin-right: 19px;
					.del{
						font-size: 12px;
						color: nth($fontColor, 2);
					}
				}
				.article,.time,.delete{
					vertical-align: middle;
				}
			}
		}
	}
	//社区资料
	.community-information{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		h1{
			color: nth($color1, 1);
			font-size: 18px;
			margin-left: 30px;
			height: 54px;
			line-height: 54px;
		}
		.content{
			border-top: 1px solid #dfdfdf;
			text-align: center;
			margin-bottom: 36px;
			position: relative;
			.user-head{
				position: relative;
				width: 148px;
				height: 148px;
				border-radius: 74px;
				margin: 0 auto;
				margin-top: 32px; 
				&:hover{
					background-image: url("../cache/camera.png");
					opacity: 0.5;
					.head-image{
						display: none;
					}
				}
				.head-image{
					width: 148px;
					height: 148px;
					border-radius: 74px;
				}
				.upfile-image{
					font-size: 0;
					display: block;
					position: absolute;
					top: 0; 
					left: 0; 
					width: 148px;
					height: 148px;
					border-radius: 74px;
					opacity: 0; 
  		            filter:alpha(opacity=0);/* 兼容IE */ 
				}
			}
			.name{
				width: 110px;
				font:22px "微软雅黑";
				margin: 0 auto;
				margin-top: 22px;
				line-height: 28px;
				height: 28px;
			}
			.discribe{
				width: 242px;
				font:14px "微软雅黑";
				color: nth($fontColor, 3);
				margin: 15px auto;
			}		
		}
		.edit{
			cursor: pointer;
			position: absolute;
			left: 470px;
			top: 201px;
			font-size: 20px;
		}
		.save{
			cursor: pointer;
			display: none;
			position: absolute;
			left: 470px;
			top: 201px;
			font-size: 20px;
		}
	}
	//简历
	.resume{
		& +.resume {
			display: none;
		}
		.base-information{
			position: relative;
			float: left;
			background: white;
			width: 664px;
			height: 230px;
			box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
			border: 1px solid #dfdfdf;
			margin-left: 20px;
			.head-image{
				position: absolute;
				left: 36px;
				top: 41px;
				width: 150px;
				height: 150px;
				border-radius: 75px;
			}
			.info-content{
				margin-left: 218px;
				margin-top: 35px;
				margin-right: 34px;
				.name{
					font-size: 22px;
					color: nth($fontColor, 1);
				}
				.name,.edit{
					height: 22px;
					line-height: 22px;
				}
				.rest-info{
					margin-top: 12px;
					font-size: 16px;
					color: nth($fontColor, 1);
					.row{
						height: 26px;
						line-height: 26px;
						.sex{
							display: inline-block;
						}
						.age{
							display: inline-block;
							text-indent: 30px;
						}
						.city{
							display: inline-block;
							text-indent: 30px;
						}
						.change{
							display: inline-block;
							float: right;
						}
						.s-authentication{
							display: inline-block;
							text-indent: 30px;
						}
						.go-authentication{
							display: inline-block;
							float: right;
						}
					}
				}
				.tip{
					margin-top: 10px;
					font-size: 12px;
					color: nth($color1, 1);
				}
			}
		}
		.rest-information{
			position: relative;
			float: left;
			background: white;
			width: 664px;
			box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
			border: 1px solid #dfdfdf;
			margin-left: 20px;
			margin-top: 22px;
			.item{
				width: 594px;
				margin-left: 36px;
				margin-top: 32px;
				margin-bottom: 6px;
				position: relative;
				.head-info{
				    position: relative;	
					height: 36px;
					line-height: 36px;
					border-radius: 20px;
					margin:0 auto;
					text-align: center;
					font-size: 18px;
					background-color: nth($bgColor ,1);
					font-weight: normal;
					color: nth($fontColor, 1);
					z-index: 10;
				}
				.hr{
					position: absolute;
					top: 18px;
					height: 1px;
					width: 554px;
					background-color: nth($bgColor ,1);
					z-index: 1;
				}
				.add{
					position: absolute;
					top: 9px;
                    right: 0;
				}
				.unit{
					margin-top: 22px;
					margin-bottom: 10px;
					.edit{
						display: inline-block;
						float: right;
					}
					.time{
						display: inline-block;
						float: right;
						margin-right: 35px;
						font-size: 14px;
						color: nth($fontColor, 3);
					}
				}
			}
			.education-experience{
                .head-info{
                	width: 110px;
                }		
				.unit{		
					.university-and-major{
						font-size: 16px;
					}
					.grade{
						display: inline-block;
						font-size: 14px;
						color: nth($fontColor, 2);
						margin-top: 13px;
					}
				}
			}
			.campus-experience{
				.head-info{
                	width: 150px;
                }	
                .unit{
                	.position{
                		font-size: 16px;
                	}
                	.work{
                		display: inline-block;
						font-size: 14px;
						color: nth($fontColor, 2);
						margin-top: 13px;
                	}
                }	
			}
			.campus-experience{
				.head-info{
                	width: 150px;
                }	
                .unit{
                	.position{
                		font-size: 16px;
                	}
                	.work{
                		display: inline-block;
						font-size: 14px;
						color: nth($fontColor, 2);
						margin-top: 13px;
                	}
                }	
			}
			.job-experience{
				.head-info{
					width: 150px;
				}	
				.unit{
					.position{
						font-size: 16px;
					}
					.work{
						display: inline-block;
						font-size: 14px;
						color: nth($fontColor, 2);
						margin-top: 13px;
					}
				}	
			}
			.award-honor{
				.head-info{
					width: 110px;
				}	
				.unit{
					.honor{
						font-size: 16px;
					}
					.discribe{
						display: inline-block;
						font-size: 14px;
						color: nth($fontColor, 2);
						margin-top: 13px;
					}
				}	
			}
			.personal-label{
				.head-info{
					width: 110px;
				}	
				.unit{
					width: 98px;
					height: 22px;
					line-height: 22px;
					margin-right: 13px;
					float: left;
					text-align: center;
					border: 1px solid #1ABC9C;
					color: nth($color1, 1);
				}	
			}
			.hobby{
				.head-info{
					width: 110px;
				}	
				.unit{
					width: 98px;
					height: 22px;
					line-height: 22px;
					margin-right: 13px;
					float: left;
					text-align: center;
					border: 1px solid #1ABC9C;
					color: nth($color1, 1);
				}	
			}
			.skill-certificate{
				.head-info{
					width: 110px;
				}
				.unit{
					font-size: 16px;
					.row{
						margin-top: 16px;
						.edit{
							font-size: 14px;
						}
						.skill{
							display: inline-block;
							width: 120px;
						}
						.level-active{
							display: inline-block;
							width: 10px;
                            height: 10px;
                            border-radius: 5px;
                            background-color: nth($color1, 1);
						}
						.level-disable{
							display: inline-block;
							width: 10px;
                            height: 10px;
                            border-radius: 5px;
                            border:1px solid nth($color1, 1);
						}
					}
				}	
			}
			.personal-works{
				.head-info{
					width: 110px;
				}
				.row{
					&:first-child{
						margin-bottom: 10px;
					}
					.l-works{
						float: left;

					}
					.discribe{
						color: nth($fontColor, 2);
					}
				}
			}
			.enclosure{
				.head-info{
					width: 110px;
				}
				.unit{
					.l-enclosure{
						font-size: 16px;
						display: block;
						height: 26px;
						line-height: 26px;
					}
				}
			}
			.rest-information-bottom{
				.button{
					margin-left: 142px;
					margin-top: 50px;
					margin-bottom: 46px;
					.preview,.export{
						cursor: pointer;
						margin-right: 29px;
						width: 141px;
						height: 34px;
						line-height: 34px;
						font-size: 18px;
						background-color: nth($color1, 1);
						color: #fff;
						border-radius: 5px;
					}
				}			
			}
		}
	}
	//简历列表
	.resume-list{
		position: fixed;
		top: 90px;
		left: 1026px;
		background-color: white;
		width: 212px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		.r-head{
			padding: 18px 20px 18px 24px;
			.head-info{
				height: 18px;
				line-height: 18px;
				float: left;
				font-size: 18px;
				font-weight: normal;
			}
			.set-up{
				font-size: 14px;
				height: 18px;
				line-height: 18px;
				float: right;
			}
		}
		.r-body{
			border-top: 1px solid #dfdfdf;
			border-bottom: 1px solid #dfdfdf;
			.unit{
				&:first-child{
					margin-top: 8px;
				}
				padding: 8px 20px 8px 24px;
				.r-name{
					height: 16px;
					line-height: 16px;
					float: left;
					font-size: 16px;
				}
				.default{
					font-size: 14px;
					height: 16px;
					line-height: 16px;
					float: right;
				}
				.r-integrity-degree{
					margin: 5px 0;
					.degree-num{
						color: nth($color1, 1);
					}
				}
				.degree-progress{
					width: 144px;
					height: 7px;
					border-radius: 3px;
					background-color: nth($bgColor ,1);
					.progress{
						width: 100px;
						height: 7px;
						border-radius: 3px;
						background-color: nth($color1, 1);
					}
				}
				.e-resume{
					height: 30px;
					line-height: 30px;
					float: left;
					font-size: 16px;	
				}
				.add{
					font-size: 14px;
					height: 30px;
					line-height: 30px;
					float: right;
				}
			}
			.active{
				background-color: nth($bgColor ,1);
			}
			.preview,.export{
				cursor: pointer;
				width: 80px;
				height: 26px;
				background-color: nth($color1, 1);
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
				margin-bottom: 18px;
				margin-top: 10px;
			}
			.preview{
				margin-left: 18px;
				margin-right: 13px;
			}
		}
		.information-list{
			margin-top: 10px;
			line-height: 38px;
			text-align: center;
			li{
				a{
					font-size: 16px;
					color: nth($fontColor, 2);
				}
			}
			.active{
				background-color: nth($color1, 1);
				a{
					color: #fff;
				}
			}
		}
	}
	.slide-list-mid{
		position: fixed;
		top: 90px;
		left: 1026px;	
	}
	.slide-list-bottom{
		position: absolute;
		left: 913px;
	    bottom : 0;
	}
	//滑动列表
	.slide-list{
		display: none;	
		background-color: white;
		width: 212px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		.slide-list-head{
			margin-top: 20px;
			border-bottom: 1px solid #dfdfdf;
			.unit{
				padding-left: 24px;
				padding-right: 20px;
				.r-integrity-degree{
					margin: 5px 0;
					.degree-num{
						color: nth($color1, 1);
					}
				}
				.degree-progress{
					width: 144px;
					height: 7px;
					border-radius: 3px;
					background-color: nth($bgColor ,1);
					.progress{
						width: 100px;
						height: 7px;
						border-radius: 3px;
						background-color: nth($color1, 1);
					}
				}			
			}
			.preview,.export{
				width: 80px;
				height: 26px;
				background-color: nth($color1, 1);
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
				margin-top: 24px;
				margin-bottom: 18px;
			}
			.preview{
				margin-left: 18px;
				margin-right: 13px;
			}
		}
		.information-list{
			margin-top: 10px;
			line-height: 38px;
			text-align: center;
			ul{
				margin-bottom: 30px;
				li{
					a{
						font-size: 16px;
						color: nth($fontColor, 2);
					}
				}
				.active{
					background-color: nth($color1, 1);
					a{
						color: #fff;
					}
				}
			}
		}
	}
	.upload-resume{
		display: none;
		background-color: white;
		height: 342px;
		width: 664px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		float: left;
		.upload-region{	
			position: relative;
			margin-left: 196px;
			margin-top: 80px;
			width: 274px;
			height: 180px;
			background-color: nth($bgColor ,1);
			border: 1px dashed nth($color1, 1);
			overflow:hidden;
			text-align: center;
			.iconfont{
				cursor: pointer;
				position: absolute;
				left: 112px;
				top: 26px;
				font-size: 50px;
			}
			.tip{
				margin-top: 92px;
				font-size: 16px;
				color: nth($fontColor, 1);
				font-weight: normal; 
			}
			.format{
				width: 209px;
				margin-left: 32px;
				font-size: 12px;
				color: nth($fontColor, 3);
			}
		}	
	}
	.upload-finish{
		display: none;
		position: relative;
		background-color: white;
		height: 342px;
		width: 664px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		float: left;
		overflow:hidden;
		.file-image{
			position: absolute;
			left: 286px;
			top: 84px;
			font-size: 94px;
			color: #999999;
		}
		.file-name{
			margin-top: 222px;
			text-align: center;
			font-size: 14px;
		}
		.delete{
			cursor: pointer;
			position: absolute;
			left: 372px;
			top:108px;
			font-size: 10px;
		}
	}
	//绑定邮箱
	.bind-email{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		height: 540px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		color: nth($fontColor, 2);
		.row{
			margin-bottom: 11px;
			font-size: 0;
			.inp{
				width: 335px;
				height: 40px;
				margin-left: 17px;
				padding: 11px;
				color: nth($fontColor, 2);
				background: nth($bgColor ,1);
			}
			.v-code{
				margin-left: 17px;
				width: 205px;
				height: 40px;
				padding: 11px;
				color: nth($fontColor, 2);
				background: nth($bgColor ,1);
			}
			.g-code{
				cursor: pointer;
				width: 124px;
				height: 40px;
				margin-left: 6px;
				color: #fff;
				background: nth($color1 ,1);
			}
            .d-words,.inp,.v-code,.g-code,.email,.state,.c-bind{
            	vertical-align: middle;
            	font-size: 16px;
            }
			.confirm{
				cursor: pointer;
				width: 140px;
				height: 34px;
				background-color: nth($color1, 1);
				color: #fff;
				font-size: 18px;
				margin-top: 27px;
				border-radius: 5px;
			}
			.state{
				display: inline-block;
				margin-left: 16px;
				font-size: 14px;
				color: nth($color1, 1);
			}
			.c-bind{
				cursor: pointer;
				margin-left: 16px;
				border-radius: 5px;
				width: 100px;
				height: 24px;
				background-color: nth($color1, 1);
				color: #fff;
			}
			.tip{
				text-align: left;
				color: nth($fontColor, 2);
				font-size: 12px;
				margin-left: 271px;
				width: 320px;
				line-height: 22px;
			}

		}
		
		.init-bind{
			margin-top: 174px;
			.indent{
				display: inline-block;
				text-indent: 16px;
			}
		}
		.finish-bind{
			display: none;
			margin-top: 218px;
			.tip{
				margin-top: 120px;
			}
		}
		.change-bind{
			display: none;
			margin-top: 174px;
			.old-email{
				display: inline-block;
				margin-left: 47px;
			}
			.inp{
				display: inline-block;
				border: 0;
				background: transparent;
			}
			.tip{
				margin-top: 64px;
			}
		}
		.new-bind{
			display: none;
			margin-top: 174px;
			.tip{
				margin-top: 34px;
			}
		}
	}
	.change-pwd{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		height: 540px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		color: nth($fontColor, 2);
		form{
			margin-top: 174px;
			.row{
				margin-top: 10px;
				.inp{
					font-size: 16px;
					width: 335px;
					height: 40px;
					margin-left: 17px;
					padding: 11px;
					color: nth($fontColor, 2);
					background: nth($bgColor ,1);
				}
				.d-words{
					display: inline-block;
					font-size: 16px;
					width: 64px;
					text-align: right;
				}
				.confirm{
					cursor: pointer;
					width: 140px;
					height: 34px;
					background-color: nth($color1, 1);
					color: #fff;
					font-size: 18px;
					margin-top: 27px;
					border-radius: 5px;
				}
			}
		}	
	}
    //绑定手机
	.bind-phone{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		height: 540px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		color: nth($fontColor, 2);
		.row{
			margin-bottom: 11px;
			font-size: 0;
			.inp{
				width: 335px;
				height: 40px;
				margin-left: 17px;
				padding: 11px;
				color: nth($fontColor, 2);
				background: nth($bgColor ,1);
			}
			.v-code,.i-code{
				margin-left: 17px;
				width: 205px;
				height: 40px;
				padding: 11px;
				color: nth($fontColor, 2);
				background: nth($bgColor ,1);
			}
			.g-code{
				cursor: pointer;
				width: 124px;
				height: 40px;
				margin-left: 6px;
				color: #fff;
				background: nth($color1 ,1);
			}
            .d-words,.inp,.v-code,.g-code,.phone,.state,.c-bind,.i-code,.image-code{
            	vertical-align: middle;
            	font-size: 16px;
            }
			.confirm{
				cursor: pointer;
				width: 140px;
				height: 34px;
				background-color: nth($color1, 1);
				color: #fff;
				font-size: 18px;
				margin-top: 27px;
				border-radius: 5px;
			}
			.state{
				display: inline-block;
				margin-left: 16px;
				font-size: 14px;
				color: nth($color1, 1);
			}
			.c-bind{
				cursor: pointer;
				margin-left: 16px;
				border-radius: 5px;
				width: 100px;
				height: 24px;
				background-color: nth($color1, 1);
				color: #fff;
			}
			.tip{
				text-align: left;
				color: nth($fontColor, 2);
				font-size: 12px;
				margin-left: 271px;
				width: 320px;
				line-height: 22px;
			}

		}
		
		.init-bind{
			margin-top: 174px;
			.image-code{
				width: 125px;
				height: 41px;
				margin-left: 6px;
			}
			.i-code{
				margin-left: 10px;
			}
			.intend{
				margin-left: -8px;
			}
		}

		.finish-bind{
			display: none;
			margin-top: 218px;
			.tip{
				margin-top: 15px;
			}
		}
		.change-bind{
			display: none;
			margin-top: 174px;
			.image-code{
				width: 125px;
				height: 41px;
				margin-left: 6px;
			}
			.i-code{
				margin-left: 10px;
			}
			.intend{
				margin-left: -8px;
			}
			.intend2{
				margin-left: -48px;
			}
			.inp{
				display: inline-block;
				border: 0;
			}
			.tip{
				text-align: center;
			}
			.confirm{
				margin-top: 10px;
			}
		}
	}
	//修改密码
	.change-pwd{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		height: 540px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		color: nth($fontColor, 2);
		form{
			margin-top: 174px;
			.row{
				margin-top: 10px;
				.inp{
					font-size: 16px;
					width: 335px;
					height: 40px;
					margin-left: 17px;
					padding: 11px;
					color: nth($fontColor, 2);
					background: nth($bgColor ,1);
				}
				.d-words{
					display: inline-block;
					font-size: 16px;
					width: 64px;
					text-align: right;
				}
				.confirm{
					cursor: pointer;
					width: 140px;
					height: 34px;
					background-color: nth($color1, 1);
					color: #fff;
					font-size: 18px;
					margin-top: 27px;
					border-radius: 5px;
				}
			}
		}	
	}
    //职位收藏
	.job-collection{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		h1{
			color: nth($color1, 1);
			font-size: 18px;
			margin-left: 30px;
			height: 54px;
			line-height: 54px;
		}
		.content{
			border-top: 1px solid #dfdfdf;
			padding-bottom: 32px;
			.item{
				position: relative;
				width: 765px;
				height: 117px;
				margin-left: 29px;
			    overflow: hidden;
			    &:hover{
			    	background-color: nth($bgColor ,1);
			    	.job-info{
			    		.row{
			    			.delete{
			    				display: block;
			    			}
			    		}
			    	}
			    }
				.c-image{
					position: absolute;
					left: 8px;
					top: 17px;
					width: 80px;
					height: 80px;
				}
				.job-info{
					margin-left: 107px;
					margin-top: 22px;

					.row{
						.job-name{
							font-size: 18px;
							color: nth($color1, 1);
						}
						.c-name{
							margin-left: 148px;
							font-size: 16px;
							color: nth($fontColor, 2);
						}
						.pub-time{
							margin-left: 42px;
							font-size: 14px;
							color: nth($fontColor, 2);
						}
						.job-name,.c-name,.pub-time,.salary,.delete{
							display: inline-block;
							vertical-align: middle;
						}
						.salary{
							font-size: 18px;
							color: nth($color3, 1)
						}
						.delete{
							float: right;
						}
						.salary-time{
							font-size: 14px;
							color: nth($fontColor, 2);
						}
						.education{
							margin-left: 17px;
							font-size: 14px;
							color: nth($fontColor, 2);
						}
						.delete{
							display: none;
							cursor: pointer;
							.del{
								font-size: 12px;
							}
							.iconfont,.del{
								vertical-align: middle;
							}
						}
						.c-label{
							display: inline-block;
							margin-left: 10px;
							float: right;
							border: 1px solid nth($color1, 1);
							color: nth($color1, 1);
							width: 81px;
							height: 19px;
							font-size: 11px;
							text-align: center;
						}
					}
				}
			}
		}
	}
	//站内通知
	.station-notice{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		h1{
			color: nth($color1, 1);
			font-size: 18px;
			margin-left: 30px;
			height: 54px;
			line-height: 54px;
		}
		.content{
			border-top: 1px solid #dfdfdf;
			padding-bottom: 32px;
			.item{
				width: 766px;
				margin-left: 30px;
				padding: 12px 20px;
				&:first-child{
					margin-top: 8px;
				}
				&:hover{
					background-color: nth($bgColor, 1);	
				}
				.head{
					.title{
						display: inline-block;
						max-width: 530px;
						font-size: 16px;
						font-weight: bold;
						color: nth($fontColor, 1);
						overflow:hidden; 
						text-overflow:ellipsis;
						white-space:nowrap;
					}
					.time{
						float: right;
						display: inline-block;
						text-indent: 14px;
						font-size: 14px;
						color: nth($fontColor, 3);
					}
					.iconfont{
						float: right;
						color: nth($fontColor, 3);
						margin-left: 16px;
					}
					.up,.down{
						cursor: pointer;
					}
					.up{
						display: none;
					}
					.title,.time,.iconfont{
						vertical-align: middle;
					}
				}
				.body{
					width: 582px;
					margin-top: 10px;
					.info{
						display: none;
						font-size: 14px;
					}
				}
			}
		}
		.footer{
			margin: 0 46px 30px 30px;
			.tip{
				color: nth($fontColor, 2);
				a{
					color: nth($color1, 1);
				}
			}
			.refresh{
				cursor: pointer;
				float: right;
				color: nth($fontColor, 2);
			}
		}
	}
	//身份认证
	.identity-authentication{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		height: 540px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		color: nth($fontColor, 2);
		.start-authentication{
			display: none;
			margin-top: 24px;
			.row{
				margin-top: 10px;
				.inp{
					text-align: left;
					position: relative;
					display: inline-block;
					font-size: 14px;
					width: 335px;
					height: 40px;
					margin-left: 17px;
					padding: 11px;
					color: nth($fontColor, 2);
					background: nth($bgColor ,1);
					&:hover{
						.default{
							display: none;
						}
					}
				}
				.confirm{
					cursor: pointer;
					width: 140px;
					height: 34px;
					background-color: nth($color1, 1);
					color: #fff;
					font-size: 18px;
					margin-top: 10px;
					border-radius: 5px;
				}
				.upload{
					margin: 0 auto;
					margin-top: 28px;
					width: 274px;
					height: 181px;
					background-color: nth($bgColor ,1);
					overflow: hidden;
					border: 2px dashed nth($color1, 1);
					.iconfont{
						display: block;
						font-size: 50px;
						margin-top: 20px;
						cursor: pointer;
					}
					.tip{
						color: nth($fontColor, 1);
						font-size: 16px;
					}
					.s-tip{
						font-size: 12px;
					}
				}
			}
			.dis{
				position: absolute;
				max-width: 500px;
				font-size: 12px;
				text-align: left;
				left: 180px;
				top: 417px;
			}
			.process{
				position: absolute;
				left: 80px;
				top: 36px;
				.line{
					position: absolute;
					left: 12px;
					width: 1px;
					height: 330px;
					background-color: nth($color1 ,1);
					z-index: 1;
				}
				.step{
					position: relative;
					z-index: 2;
					width: 24px;
					height: 24px;
					border-radius: 12px;
					border: 1px solid nth($color1 ,1);
					color: nth($color1 ,1);
					background-color: #fff;
				}
				.word{
					color: nth($color1 ,1);
					font-size: 12px;
					position: absolute;
					left: 36px;
					width: 84px;
				}
				.w-one{
					top:1px;
				}
				.s-tow{
					margin-top: 24px;
				}
				.w-tow{
					top:50px;
				}
				.s-three{
					margin-top: 112px;
				}
				.w-three{
					top:186px;
				}
				.s-four{
					margin-top: 104px;
				}
				.w-four{
					top: 314px;
				}
			}	
		}
		.wait-examine{
			.row{
				margin-top: 10px;
                h3{
                	margin-top: 90px;
                	font-size: 18px;
                    color: nth($fontColor, 2);
                    font-weight: normal;
                }
				.confirm{
					cursor: pointer;
					width: 140px;
					height: 34px;
					background-color: nth($color1, 1);
					color: #fff;
					font-size: 18px;
					margin-top: 10px;
					border-radius: 5px;
				}
				.upload{
					position: relative;
					display: table;
					margin: 0 auto;
					margin-top: 28px;
					width: 274px;
					height: 181px;
					overflow: hidden;
					border: 2px dashed nth($color1, 1);
					.container-vc{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						.unit{
							&:first-child{
								margin-bottom: 20px;
							}
							display: inline-block;
							.type{
								color: nth($color1, 1);
							}
						}
					}
				}
			}
			.dis{
				position: absolute;
				max-width: 500px;
				font-size: 12px;
				text-align: left;
				left: 180px;
				top: 417px;
			}
		}
	}
	//参与活动
	.join-activity{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		.activity-list{
			padding: 10px;
			width: 824px;
			margin-bottom: 26px;
			thead{ 
				position: relative;
				color: nth($color1, 1);
				font-size: 0px;
				height: 54px;
				line-height: 54px;
				th{
					border-bottom: 1px solid #dfdfdf;
					font-size: 16px;
				}
			}
			tbody{
				tr{
					&:hover{
						background-color: nth($bgColor ,1);
					}
					&:first-child{
						height: 16px;
					}
					height: 50px;
					line-height: 50px;
				}
			}
		}
		.footer{
			margin: 0 46px 30px 30px;
			.tip{
				color: nth($fontColor, 2);
				a{
					color: nth($color1, 1);
				}
			}
			.refresh{
				cursor: pointer;
				float: right;
				color: nth($fontColor, 2);
			}
		}
	}
	//订阅工作
	.subscribe-job{
		position: relative;
		float: left;
		background: white;
		width: 824px;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
		border: 1px solid #dfdfdf;
		margin-left: 20px;
		text-align: center;
		color: nth($fontColor, 2);
		h2{
			margin-top: 28px;
			font-size: 18px;
			.tip{
				font-size: 14px;
				font-weight: normal;
			}
		}
		.sub-job{
			height: 370px;
			.content{
				font-size: 16px;
				margin-top: 82px;
				margin-left: 248px;
				.row{
					text-align: left;
					.sel-place,.sel-position{
						color: nth($fontColor, 1);
					}
					.pl-unit,.po-unit{
						display: inline-block;
						color: nth($color1, 1);
						margin-left: 36px;
					}
				}
			}
			.change{
				cursor: pointer;
				width: 140px;
				height: 34px;
				background-color: nth($color1, 1);
				color: #fff;
				font-size: 18px;
				margin-top: 120px;
				border-radius: 5px;
			}
		}
		.job-place{
			display: none;
			height: 500px;
			font-size: 16px;
			.content{
				margin-top: 12px;
				.c-head{
					color: nth($color1, 1);
					margin-bottom: 10px;
					.unit{
						cursor: pointer;
						display: inline-block;
						height: 30px;
						text-align: left;
						.iconfont{
						    visibility: hidden;
						}
						&:hover{
							.iconfont{
								visibility: visible;
								vertical-align: middle;
							}
						}
					}
				}
				.item{
					text-align: left;
					margin-left: 54px;
					margin-bottom: 10px;
					.region{
						margin-left: 20px;
						color: nth($color1, 1);
					}
					.detail{
						.city{
							cursor: pointer;
							display: inline-block;
							font-size: 16px;
							padding: 2px 10px;
							margin-left: 10px;
							&:hover{
								background-color: nth($color1, 1);
								color: #fff;
							}
						}
					}
				}
			}
			.next{
				cursor: pointer;
				width: 140px;
				height: 34px;
				background-color: nth($color1, 1);
				color: #fff;
				font-size: 18px;
				border-radius: 5px;
				margin-top: 26px;
			}
		}
		.position{
			display: none;
			height: 370px;
			font-size: 16px;
			margin-top: 12px;
			.c-head{
				color: nth($color1, 1);
				margin-bottom: 16px;
				margin-top: 10px;
				.unit{
					cursor: pointer;
					display: inline-block;
					height: 30px;
					text-align: left;
					.iconfont{
						visibility: hidden;
					}
					&:hover{
						.iconfont{
							visibility: visible;
							vertical-align: middle;
						}
					}
				}
			}
			.c-body{
				.nav{
					margin-left: 64px;
					li{
						float: left;
						margin-left: 16px;
						font-weight: bold;
						padding: 2px 12px;
						cursor: pointer;
						border: 1px solid nth($color1, 1);
					}
					.active{
						background-color: nth($color1, 1);
						color: #fff;
					}
				}
				.job-groups{
					margin-left: 70px;
					margin-top: 50px;
					text-align: left;
					width: 660px;
					.group{
						display: none;
						&:first-child{
							display: block;
						}
						.job{
							padding: 0 6px;
							cursor: pointer;
							display: inline-block;
							margin-right: 12px;
							&:hover{
								background-color: nth($color1, 1);
								color: #fff;
							}
						}
					}
				}
			}
			.save{
				cursor: pointer;
				width: 140px;
				height: 34px;
				background-color: nth($color1, 1);
				color: #fff;
				font-size: 18px;
				border-radius: 5px;
				margin-top: 80px;
			}
		}
	}
}