@charset "utf-8";
// ======
// ==== 大板块 - 评论列表样式
// ======

// 评论
.widget-comment {
	background: #ffffff;
	padding: 20px;
	padding-bottom: 0;

	& .comment-load {
		margin-bottom: 20px;
	}

	// 一级评论分页
	& .pageslist {
		border-top: 1px solid nth($borderColor, 1);
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0;
	}

	&-hd {
		padding-bottom: 10px;

		& a, & span {
			display: inline-block;
			color: nth($fontColor, 3);
		}

		& a {
			&.active {
				font-weight: bold;
				color: nth($color1, 1);
			}

			&:hover {
				color: nth($color1, 1);
			}
		}

		& span {
			margin: 0 5px;
			@include fontsize(20px);
		}
	}

	&-list {
		overflow: hidden;
		margin-bottom: -21px;

		& ul {
			margin-bottom: 36px;
		}

		& li {
			padding-top: 15px;
			padding-left: 80px;
			position: relative;
			border-top: 1px solid nth($borderColor, 1);
			min-height: 90px;
			min-height: 65px\9;

			&.new {
				margin-bottom: 15px;
			}
		}

		& .avatar {
			position: absolute;
			left: 0;

			& img {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				display: block;
			}
		}

		& .info {
			margin-bottom: 5px;
			overflow: hidden;
			white-space: nowrap;
			height: 22px;
		}

		& .author {
			font-weight: bold;
			display: inline-block;
			color: nth($fontColor, 1);

			& span {
				font-weight: normal;
				margin: 0 5px;
			}
		}

		& .time {
			color: nth($fontColor, 3);
			margin-left: 15px;
			display: inline-block;
			vertical-align: middle;
			@include fontsize(12px);
		}

		& .content {
			margin: 5px 0;
			color: nth($fontColor, 2);

			// 回复/点赞
			&-btn {
				line-height: 32px;
				height: 32px;
				position: absolute;
				right: 0;

				& .icontext {
					float: left;
					margin-left: 15px;
				}

				// 占位符
				&-bg {
					line-height: 32px;
					height: 32px;
					position: relative;
					margin: 10px 0;
				}
			}
		}

		// 表情
		& img[emoticon] {
			width: 40px;
			height: 40px;
			margin: 0 5px;
		}

		& .children {
			margin-bottom: 15px;

			& .avatar {
				left: 15px;
			}

			& li {
				padding: 15px 75px 10px 95px;
				border-top: 1px solid #ffffff;
				background: nth($bgColor, 2);

				&:hover {
					& .button-reply {
						color: nth($color1, 1);
					}
				}

				&.new {
					margin-bottom: 0;
				}
			}

			// 二级评论分页
			& .pageslist {
				margin-bottom: 0;
				text-align: right;
				padding-top: 15px;
				padding-bottom: 0;
				border-top: 1px solid #ffffff;

				& .page {
					height: 26px;
					line-height: 26px;
					line-height: 28px\9;
					min-width: 28px;
					min-width: 8px\9;
				}
			}
		}

		& .button-reply {
			text-align: center;
			position: absolute;
			right: 24px;
			top: 22px;
			color: nth($color5, 2);

			&:active {
				color: nth($color1, 3) !important;
			}

			& .font {
				display: block;
				margin-bottom: -8px;
				@include fontsize(18px);
			}
		}
	}
}

// 回复框
.widget-reply {
	background: #ffffff;
	padding: 20px 0;
	border-top: 1px solid nth($borderColor, 1);
	position: relative;
	padding-left: 5px;
	padding-right: 20px;

	&.no-comment {
		margin-top: -21px;
	}

	& .avatar {
		position: absolute;
		left: 20px;

		& img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 1px solid nth($borderColor, 1);
		}
	}

	& .box {
		margin-left: 95px;
	}

	& .reply-editor {
		position: relative;
		border: 1px solid nth($borderColor, 1);

		& .text {
			padding: 8px;
			min-height: 124px;
			min-height: 108px\9;
			resize: none;

			// 未登录
			&-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				line-height: 124px;
				text-align: center;
				color: nth($fontColor, 3);
				background: #ffffff;
				user-select: none;
			}
		}
	}

	// 字数限制
	& .reply-wordcount {
		border: 1px solid nth($borderColor, 1);
		border-top: none;
		text-align: right;
		padding: 0 10px;
		line-height: 24px;
		color: nth($fontColor, 3);
		white-space: nowrap;
		@include fontsize(12px);

		&.error {
			color: nth($color3, 1);
		}
	}

	& .emoticon {
		float: left;
		margin-top: 10px;
		position: relative;

		& .icontext {
			line-height: 40px;
			height: 40px;
			display: block;
		}

		& .font {
			@include fontsize(32px);
		}

		// 表情按钮
		&-btn {
			color: nth($fontColor, 3);
			display: block;
			width: 32px;
			height: 32px;
			line-height: 32px;

			&.active, &:hover {
				color: nth($color1, 1);
			}

			&:active {
				color: nth($color1, 3);
			}
		}

		// 所有表情
		&-box {
			position: absolute;
			bottom: 42px;
			left: 0;
			z-index: 1;
			background: #ffffff;
			padding: 10px;
			font-size: 0;
			width: 230px;
			height: 126px;
			box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
			border: 1px solid nth($borderColor, 1);
			display: none;

			& img {
				width: 32px;
				height: 32px;
			}

			& span {
				float: left;
				padding: 9px;
				cursor: pointer;
				border: 1px solid #ffffff;

				&:hover {
					border: 1px solid nth($borderColor, 1);
				}
			}

			&:before {
				content: "";
				position: absolute;
				bottom: -20px;
				left: 6px;
				width: 0px;
				height: 0px;
				border-width: 10px;
				border-style: dashed dashed solid dashed;
				border-color: nth($borderColor, 1) transparent transparent transparent;
			}

			&:after {
				content: "";
				position: absolute;
				bottom: -18px;
				left: 6px;
				width: 0px;
				height: 0px;
				border-width: 10px;
				border-style: dashed dashed solid dashed;
				border-color: #ffffff transparent transparent transparent;
			}
		}

		// 表情预览
		& .preview {
			position: absolute;
			right: -101px;
			top: -1px;
			width: 100px;
			padding: 10px;
			height: 126px;
			background: #ffffff;
			box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
			border: 1px solid nth($borderColor, 1);
			display: none;

			& img {
				width: 78px !important;
				height: 78px !important;
			}

			& b {
				font-size: 14px;
				font-weight: normal;
				text-align: center;
				display: block;
				color: #999;
				margin-top: 3px;
			}
		}
	}

	& .groupbtn {
		text-align: right;
		margin-top: 15px;
		height: 40px;

		& .item {
			margin-left: 20px;
			display: inline-block;
		}

		& .btn {
			width: 120px;
			float: left;
			height: 40px;
			line-height: 40px;
		}
	}

	& .item.reply-cancel {
		display: none;
	}

	// 回复一级评论
	.widget-comment & {
		padding: 15px 0;

		& .avatar {
			left: 15px;
		}
	}

	// 回复二级评论
	.widget-comment .children & {
		margin-top: 15px;
		margin-bottom: 15px;
		padding-bottom: 0;
	}
}

// 点赞收藏动画
@keyframes zoomFont{
	0% {
		transform: scale(1)
	}
	50% {
		transform:scale(1.5)
	}
	70% {
		transform: scale(.8)
	}
	100% {
		transform: scale(1)
	}
}
.zoom {
	animation:zoomFont 0.8s .2s ease;
}
