@charset "utf-8";
// ======
// ==== 底部样式
// ======

// 底部导航
.footer {
	position: relative;

	& .box {
		background: #ffffff;
		box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
	}

	& a {
		color: nth($fontColor, 3);

		&:hover {
			color: nth($color1, 1);
		}
	}

	&-menu {
		text-align: center;
		margin: 26px 0;

		& .col-links {
			float: left;
			width: 33.333333%;

			& dt {
				margin-bottom: 15px;
				line-height: 1.25;
				color: nth($color1, 1);
				@include fontsize(16px);
			}

			& dd {
				margin-top: 10px;
				@include fontsize(14px);
			}
		}
	}

	&-copyright {
		color: nth($fontColor, 3);
		text-align: center;
		border-top: 1px solid nth($borderColor, 1);
		padding: 10px 0;
		background: #ffffff;
		@include fontsize(12px);

		& span {
			display: inline-block;
			margin: 0 5px;
		}
	}

	// 标语
	&-slogan {
		background: url(../images/slogan-footer.png) no-repeat;
		width: 200px;
		height: 31px;
		margin: 10px auto;
		display: block;
		text-indent: -9999em;
		overflow: hidden;
	}
}
