@charset "utf-8";
// ======
// ==== 头部样式
// ======

// 头部导航
.header {
	z-index: 8;
	position: relative;
	border-bottom: 2px solid nth($color1, 1);
	color: nth($fontColor, 1);
	background: #ffffff;
	box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);

	& .logo {
		float: left;
		height: 50px;
		overflow: hidden;
		margin: 5px 0;

		& img {
			width: 100%;
		}

		& a {
			display: block;
		}

		& h1 {
			display: none;
		}
	}

	// 导航
	& .nav {
		margin-left: 50px;
		font-size: 0;
		float: left;

		& > li {
			display: inline-block;
			position: relative;
			@include fontsize(16px);

			&.active {
				& > a {
					color: #ffffff !important;
					background: nth($color1, 1);

					& .font {
						color: #ffffff !important;
					}
				}
			}

			& > a {
				display: block;
				padding: 0 28px;
				height: 60px;
				line-height: 60px;
				color: nth($fontColor, 1);
			}
		}

		& .font {
			color: nth($fontColor, 1);
			display: inline-block;
			margin-left: 4px;
			transition: all 0.2s ease-in-out;
			@include fontsize(12px);
		}

		& .children {
			display: none;
			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;
			text-align: center;
			padding: 8px 0;
			border: 1px solid nth($color1, 1);
			border-top: none;
			background: #ffffff;

			& a {
				display: block;
				padding: 8px 0;
			}

			& li {
				@include fontsize(15px);
			}
		}

		// 导航
		&.nav-menu {
			& a {
				color: nth($fontColor, 1);

				&:hover {
					color: nth($color1, 1);
				}
			}

			// 鼠标焦点
			& > li:hover {
				& > a {
					color: nth($color1, 1);
				}

				& .font {
					color: nth($color1, 1);
					transform: rotate(-180deg);
				}

				& .children {
					display: block;
				}
			}
		}

		// 用户中心
		&.nav-user {
			float: right;

			& > li {
				padding: 0 18px;
				margin: 18px 0;

				&:not(:last-child):after {
					content: "";
					background: nth($borderColor, 1);
					width: 1px;
					height: 24px;
					position: absolute;
					right: 0;
					top: 0;
				}

				& a {
					padding: 0;
					height: 24px;
					line-height: 24px;

					&:hover {
						color: nth($color1, 1);
					}
				}

				// 用户中心
				&.more {
					float: left;
					line-height: 24px;
					margin: 0;
					padding: 0;

					&:hover {
						background: nth($color1, 1);

						&:after {
							background: nth($color1, 1);
						}

						& > a {
							background: nth($color1, 1);
							color: #ffffff;

							& .font {
								color: #ffffff;

								&.down {
									transform: rotate(-180deg);
								}
							}

							& span {
								color: #ffffff;
							}
						}

						& .children {
							display: block;
						}
					}

					&:after {
						top: 18px;
					}

					& .title {
						padding: 18px;
						overflow: hidden;
						height: 60px;

						& span {
							float: left;
						}
					}
				}
			}

			& .font {
				float: left;
				margin-left: 0;
				margin-right: 8px;
				color: nth($color1, 1);
				@include fontsize(22px);

				&.down {
					margin-right: 0;
					margin-left: 8px;
					@include fontsize(12px);
				}
			}

			& .tip {
				font-family: initial;
				position: absolute;
				top: 8px;
				right: 10px;
				background: nth($color3, 1);
				color: #ffffff;
				width: 24px;
				border-radius: 20px;
				text-align: center;
				@include fontsize(12px);
			}

			// 下拉
			& .children {
				& .avatar {
					width: 64px;
					display: block;
					margin: 0 auto;
					border-radius: 50%;
					overflow: hidden;

					& img {
						width: 64px;
						height: 64px;
					}
				}

				& a {
					display: block;
					padding: 8px 0;
					position: relative;
					height: auto;
					line-height: auto;
					color: nth($fontColor, 1);
				}

				& .username {
					display: block;
					margin: 8px 20px;
					border-bottom: 1px solid nth($color1, 1);
					padding-bottom: 5px;
				}
			}
		}
	}
}
