@charset "utf-8";
// ======
// ==== 模块样式
// ======

// 字体颜色
.color {
	// 主题色
	&-1 {
		color: nth($color1, 1) !important;
		transition: color .1s linear;

		&:hover {
			color: nth($color1, 2) !important;
		}

		&:active {
			color: nth($color1, 3) !important;
		}
	}

	// 绿色
	&-2 {
		color: nth($color2, 1) !important;
		transition: color .1s linear;

		&:hover {
			color: nth($color2, 2) !important;
		}

		&:active {
			color: nth($color2, 3) !important;
		}
	}

	// 红色
	&-3 {
		color: nth($color3, 1) !important;
		transition: color .1s linear;

		&:hover {
			color: nth($color3, 2) !important;
		}

		&:active {
			color: nth($color3, 3) !important;
		}
	}

	// 橙色
	&-4 {
		color: nth($color4, 1) !important;
		transition: color .1s linear;

		&:hover {
			color: nth($color4, 2) !important;
		}

		&:active {
			color: nth($color4, 3) !important;
		}
	}

	// 灰色
	&-5 {
		color: nth($color5, 1) !important;
		transition: color .1s linear;

		&:hover {
			color: nth($color5, 2) !important;
		}

		&:active {
			color: nth($color5, 3) !important;
		}
	}
}

// 按钮
.btn {
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	white-space: nowrap;
	vertical-align: middle;
	transition: background-color .1s linear;
	appearance: none;
	user-select: none;
	cursor: pointer;

	// 主题色 (边框)
	&-cl0 {
		border: 1px solid nth($color1, 1);
		color: nth($color1, 1);

		&:hover {
			border: 1px solid nth($color1, 2);
			color: nth($color1, 2);
		}

		&:active {
			border: 1px solid nth($color1, 3);
			color: nth($color1, 3);
		}
	}

	// 主题色
	&-cl1 {
		background: nth($color1, 1);
		color: #ffffff;

		&:hover {
			background: nth($color1, 2);
			color: #ffffff;
		}

		&:active {
			background: nth($color1, 3);
		}
	}

	// 绿色
	&-cl2 {
		background: nth($color2, 1);
		color: #ffffff;

		&:hover {
			background: nth($color2, 2);
			color: #ffffff;
		}

		&:active {
			background: nth($color2, 3);
		}
	}

	// 红色
	&-cl3 {
		background: nth($color3, 1);
		color: #ffffff;

		&:hover {
			background: nth($color3, 2);
			color: #ffffff;
		}

		&:active {
			background: nth($color3, 3);
		}
	}

	// 黄色
	&-cl4 {
		background: nth($color4, 1);
		color: #ffffff;

		&:hover {
			background: nth($color4, 2);
			color: #ffffff;
		}

		&:active {
			background: nth($color4, 3);
		}
	}

	// 灰色
	&-cl5 {
		background: nth($color5, 1);
		color: nth($fontColor, 2);

		&:hover {
			background: nth($color5, 2);
			color: nth($fontColor, 2);
		}

		&:active {
			background: nth($color5, 3);
		}
	}

	// 禁止按钮
	&.disabled {
		cursor: default;
		background: nth($color5, 1);
		color: nth($fontColor, 3);

		&:hover {
			background: nth($color5, 1);
			color: nth($fontColor, 3);
		}

		&:active {
			background: nth($color5, 1);
		}
	}

	// 小按钮
	&-s {
		height: 40px;
		line-height: 40px;
		display: block;
		@include fontsize(14px);
	}

	// 大按钮
	&-b {
		height: 48px;
		line-height: 48px;
		display: block;
		@include fontsize(18px);
	}
}

// 文本框
.text {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: normal;
	display: block;
	width: 100%;
	height: 22px;
	vertical-align: middle;
	appearance: none;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: nth($bgColor, 1);

	// 外边框
	&-box {
		position: relative;
		padding: 7px 10px;
		overflow: hidden;
		background: nth($bgColor, 1);
		border: 1px solid transparent;

		// 错误边框
		&.error {
			border: 1px solid nth($color3, 1);
		}

		// 禁止
		&.disabled {
			color: nth($fontColor, 3);
			border: 1px solid nth($borderColor, 1);
			background: transparent;

			& .text {
				background: transparent;
			}
		}
	}
}

// 下拉框
.select {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: normal;
	display: block;
	width: 100%;
	height: 22px;
	vertical-align: middle;
	appearance: none;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: transparent;

	// 外边框
	&-box {
		position: relative;
		padding: 7px 10px;
		background: #ffffff;
		border: 1px solid nth($borderColor, 1);

		// 下拉三角形
		&:before {
			width: 0;
			height: 0;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid nth($fontColor, 1);
			content: '';
			position: absolute;
			right: 16px;
			top: 16px;
		}

		// 错误边框
		&.error {
			border: 1px solid nth($color3, 1);
		}

		// 禁止
		&.disabled {
			background: nth($bgColor, 2);

			& .select {
				color: nth($fontColor, 3);
			}

			// 下拉三角形（禁止状态）
			&:before {
				border-top: 5px solid nth($fontColor, 3);
			}
		}
	}
}

// 页码
.pageslist {
	text-align: center;
	margin-bottom: 20px;
	font-size: 0;

	& a, & span {
		margin: 0 2px;
		font-family: "Hiragino Sans GB";
		@include fontsize(14px);
	}

	& .page {
		border: 1px solid nth($borderColor, 1);
		background: #ffffff;
		padding: 0 10px;
		display: inline-block;
		height: 36px;
		line-height: 36px;
		min-width: 36px;
		min-width: 16px\9;
		color: nth($fontColor, 2);
		transition: background-color .1s linear;
		text-align: center;
		vertical-align: middle;

		&.disabled {
			color: nth($color5, 3);

			&:hover {
				background: #ffffff;
				color: nth($color5, 3);
				border: 1px solid nth($borderColor, 1);
			}
		}

		&.active {
			border: 1px solid nth($color1, 1);
			color: nth($color1, 1);
		}

		&:hover {
			border: 1px solid nth($color1, 1);
			background: nth($color1, 1);
			color: #ffffff;
		}
	}
}

// 图标加文字
.icontext {
	display: inline-block;
	color: nth($fontColor, 3);
	position: relative;
	font-size: 0;

	& .font {
		@include fontsize(18px);
	}

	& .txt {
		font-style: normal;
		position: relative;
		top: -2px;
		margin-left: 3px;
		@include fontsize(14px);
	}
}

// 分享按钮
.bdsharebuttonbox {
	text-align: center;
	float: left;
	font-size: 0;

	& a {
		background: url(../images/share.png) no-repeat;
		width: 32px;
		height: 32px;
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		opacity: .6;
		filter: alpha(opacity=60);

		&:hover {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}

	& .bds_tsina {
		background-position: 0 0;
	}

	& .bds_qzone {
		background-position: -32px 0;
	}

	& .bds_sqq {
		background-position: -64px 0;
	}

	& .bds_weixin {
		background-position: -96px 0;
	}

	& .bds_douban {
		background-position: -128px 0;
	}

	& .bds_youdao {
		background-position: -160px 0;
	}

	& .bds_renren {
		background-position: -192px 0;
	}
}

// 加载中
.loading {
	background: url(../images/ajax-load.gif) center no-repeat;
	width: 100px;
	height: 20px;
	display: block;
	margin: 0 auto;
}

// 右侧小工具
.tool {
	position: fixed;
	left: 50%;
	margin-left: 562px;
	bottom: 120px;
	box-shadow: 0 0px 5px rgba(221, 221, 221, 0.8);
	border: 1px solid #dfdfdf;

	& .box {
		margin-bottom: -1px;
		overflow: hidden;
	}

	& .btn {
		color: nth($color5, 1);
		display: block;
		background: #ffffff;
		padding: 12px 20px;
		border-bottom: 1px solid nth($borderColor, 1);

		&.active, &:hover {
			color: nth($color1, 1);
		}

		&:active {
			color: nth($color1, 3);
		}
	}

	& .BackTop {
		display: none;
	}

	& .font {
		display: block;
		height: 24px;
		line-height: 24px;
		@include fontsize(30px);
	}
}

// 错误提示
.tips-error {
	color: nth($color3, 1);
	line-height: 24px;
	background: nth($bgColor, 1);
	position: absolute;
	top: 7px;
	width: 100%;
	display: none;

	& .font {
		margin-right: 5px;
		vertical-align: middle;
		float: left;
	}
}
