body {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: .4rem;
}

img {
    border-radius: .13rem;
}

i {
    overflow: hidden;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: bottom;
}

i > i {
    position: relative;
    left: -1rem;
    border-right: 1rem solid transparent;
    -webkit-filter: drop-shadow(1rem 0 #31CCD2);

}

header input {
    display: block;
    position: absolute;
    margin: .2rem .5rem 0;
    border: none;
    background-color: rgba(255, 255, 255, .7);
    width: 9.1rem;
    height: 1rem;
    z-index: 2;
    border-radius: 5%/50%;
    text-indent: 2rem;

}

header em {
    background: url(../image/icon-3-1@2x.png) no-repeat center;
    display: block;
    width: 1.53rem;
    height: 1.53rem;
    position: absolute;
    z-index: 4;
    background-size: 50%;
    top: -0.1rem;
    right: .4rem;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}

.slider:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 65.6%;
}

.slider ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider li {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider:first-child {
    z-index: 1;
}

.slider img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
}

.slider .pager {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    text-align: center;
    width: 200px;
    margin-left: -100px;
}

.slider .pager span {
    background: rgba(255, 255, 255, 0.2);
    width: 0.18rem;
    height: 0.18rem;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.slider .pager span:hover, .slider .pager span.active {
    background: rgba(255, 255, 255, 0.8);
}

.title {
    margin-left: 2%;
    margin-bottom: .24rem;
}

.title a div {
    position: absolute;
    text-align: center;
    margin-top: -1.693rem;
    width: 48%;
    color: #fff;
}

.title a:nth-of-type(2) div {
    right: .23rem;
}

.title a img {
    width: 48%;
}

.title h1 {
    font-size: .48rem;
    line-height: 1;
}

.title h2 {
    line-height: 2;
}

.company {
    display: flex;
    justify-content: space-around;
    margin-bottom: .4rem;
    text-align: center;
}

.company img {
    width: 1.733rem;
    height: 1.733rem;
}

.company h2 {
    color: #666;
}

.company span {
    font-size: .27rem;
    color: #999;
}

.imp img {
    width: 94%;
    max-height: 4rem;
    margin: 0 auto .4rem;
    display: block;

}

.adv {
    padding-left: .27rem;

    flex-wrap: wrap;
    margin-bottom: .4rem;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;
}

.adv a {
    height: 3.13rem;
    width: 3.13rem;
    margin: 0 .11rem .11rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    position: relative;
}

.adv .s {
    width: 6.25rem;
}

.adv h1 {
    font-size: .4rem;
    line-height: 1.7;
}

.adv img {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(65%);
}

.comtop {
    z-index: 0;
    position: relative;
    margin-top: .27rem;
    border-top: .27rem solid #f0f0f0;
}

.comtop div {
    padding: .27rem;
}

.comtop div span {
    font-size: .43rem;
    color: #34B9BE;
}

.comtop div span:nth-of-type(2) {
    font-size: .32rem;
    color: #aeaeae;

}

.comtop div i {
    width: .493rem;
    height: .493rem;
}

.topic {
    background: url("../image/h.png") no-repeat center;
    background-size: cover;
}

.comtop nav {
    width: 17.0664rem;
    font-size: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: .27rem 0;
}

.comtop nav a {
    width: 2.1333rem;
    display: inline-flex;
    flex-direction: column;
    font-size: .27rem;
    align-items: center;
    color: #666;
}

.comtop nav .active {
    color: #34B9BE;
}

.comtop nav .active i > i {
    -webkit-filter: drop-shadow(1.2rem 0 #34B8BE);
}

.comtop nav i {
    width: 1.2rem;
    height: 1.2rem;
}

.comtop nav i > i {
    left: -1.2rem;
    border-right: 1.2rem solid transparent;
    -webkit-filter: drop-shadow(1.2rem 0 #666);
}

.story {
    background: url("../css/story.png") no-repeat center;
    background-size: cover;
}

.exp {
    background: url("../css/exp.png") no-repeat center;
    background-size: cover;
}

.col {
    background: url("../css/col.png") no-repeat center;
    background-size: cover;
}

.ass {
    background: url("../css/ass.png") no-repeat center;
    background-size: cover;
}

.work {
    background: url("../css/work.png") no-repeat center;
    background-size: cover;
}

.ara {
    background: url("../css/ara.png") no-repeat center;
    background-size: cover;
}

.det {
    background: url("../css/det.png") no-repeat center;
    background-size: cover;
}

.que {
    background: url("../css/que.png") no-repeat center;
    background-size: cover;
}

.comjob {
    background: url("../image/pp.png") no-repeat center;
    background-size: cover;
}

.comtop ul {
    padding: .43rem .27rem 0 .27rem;
    border: 1px solid #eaeaea;
}

.comtop ul li {
    height: 1.733rem;
    margin-bottom: .44rem;
    position: relative;
}

.comtop .topics img {
    width: 3.47rem;
    height: 1.733rem;
    margin-right: .4rem;
}

.comtop .topics h1 {
    margin-bottom: .2rem;
}

.comtop ul img {
    float: left;
    width: 1.733rem;
    height: 1.733rem;
    margin-right: .533rem;
}

.comtop ul h1 {
    font-size: .373rem;
    color: #666;
    line-height: 1.5;
}

.comtop ul h2 {
    color: #999;
    margin: .11rem 0;
}

.comtop ul h1:nth-of-type(2) {
    color: #46C6D5;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: .2rem;
    width: 77%;
    margin-left: 2.24rem;

}

.comtop ul li:last-of-type h1:nth-of-type(2) {
    border: none;
}

.comtop ul em {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999;
}

.comtop ul em:before {
    content: '';
    background: url(../pos.png) no-repeat center;
    background-size: 100%;
    width: .373rem;
    height: .373rem;
    display: inline-block;
    vertical-align: sub;
}

.comtop ul span {
    font-size: .27rem;
    color: #999;
}

.comtop ul span:before {
    content: '';
    display: inline-block;
    background: url(../image/r.png) no-repeat center;
    width: .263rem;
    height: .31rem;
    background-size: 100%;
    vertical-align: middle;
    margin-right: .11rem;
}

.comtop > a {
    display: inline-block;
    width: 100%;
    padding: .23rem 0;
    font-size: .373rem;
    color: #999;
    text-align: center;
}

.comtop:not(:last-of-type) >a{
    padding-bottom: 0;
}


.comtop:last-of-type {
    border-bottom: 2.2rem solid #f0f0f0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    height: 1.33rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

footer > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
}

footer > a:nth-of-type(3) {
    width: 1.69rem;
    height: 1.69rem;
    border-radius: 50%;
    position: relative;
    top: -.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .26);
    background-color: #fff;
}

footer i > i {
    -webkit-filter: drop-shadow(1rem 0 #bbb);
}

footer i > .active {
    -webkit-filter: drop-shadow(1rem 0 #34B9BE);
}

.index {
    background: url("../image/9@2x.png") no-repeat center;
    background-size: cover;
}

.job {
    background: url("../image/5@2x.png") no-repeat center;
    background-size: cover;
}

.exp {
    background: url("../image/7@2x.png") no-repeat center;
    background-size: cover;
}

.com {
    background: url("../image/4@2x.png") no-repeat center;
    background-size: cover;
}

.me {
    background: url("../image/8-2@2x.png") no-repeat center;
    background-size: cover;
}