header {
    display: flex;
    justify-content: center;
    margin-bottom: .4rem;
}

img {
    border-radius: .13rem;
}

header input {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, .7);
    padding: .29rem 2.7rem;
    z-index: 2;
    margin-top: .2rem;
    border-radius: 5%/50%;
}

header em {
    background: url(../image/icon-3-1@2x.png) no-repeat;
    display: block;
    width: .53rem;
    height: .53rem;
    position: absolute;
    z-index: 4;
    background-size: 100%;
    top: .4rem;
    right: .8rem;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}

.slider:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 65.6%;
}

.slider ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider li {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider:first-child {
    z-index: 1;
}

.slider img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
}

.slider .pager {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    text-align: center;
    width: 200px;
    margin-left: -100px;
}

.slider .pager span {
    background: rgba(255, 255, 255, 0.2);
    width: 0.18rem;
    height: 0.18rem;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.slider .pager span:hover, .slider .pager span.active {
    background: rgba(255, 255, 255, 0.8);
}

nav {
    margin-left: 2%;
    margin-bottom: .24rem;
}

nav a div {
    position: absolute;
    text-align: center;
    margin-top: -1.693rem;
    width: 48%;
    color: #fff;
}

nav a:nth-of-type(2) div {
    right: .23rem;
}

nav a img {
    width: 48%;
}

nav h1 {
    font-size: .48rem;
    line-height: 1;
}

nav h2 {
    line-height: 2;
}

.company {
    display: flex;
    justify-content: space-around;
    margin-bottom: .4rem;
}

.company div {
    text-align: center;
}

.company h2 {
    color: #666;
}

.company span {
    font-size: .27rem;
    color: #999;
}

.imp img {
    width: 94%;
    max-height: 4rem;
    margin: 0 auto .4rem;
    display: block;

}

.adv {
    padding-left: .27rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .4rem;
}

.adv a {
    height: 3.13rem;
    width: 3.13rem;
    margin: 0 .11rem .11rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.adv a:nth-of-type(1), .adv a:nth-of-type(4), .adv a:nth-of-type(5), .adv a:nth-of-type(8), .adv a:nth-of-type(9) {
    min-width: 6.253rem;
}

.adv h1 {
    font-size: .4rem;
    line-height: 1.7;
}

.adv img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    height: 1.33rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

footer > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999;
}

footer > a:nth-of-type(3) {
    width: 1.69rem;
    height: 1.69rem;
    border-radius: 50%;
    position: relative;
    top: -.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .26);
    background-color: #fff;
}

i {
    overflow: hidden;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: sub;
}

i > i {
    position: relative;
    left: -1rem;
    border-right: 1rem solid transparent;
    -webkit-filter: drop-shadow(1rem 0 #31CCD2);

}

footer i > i {
    -webkit-filter: drop-shadow(1rem 0 #bbb);
}

footer i > .active {
    -webkit-filter: drop-shadow(1rem 0 #34B9BE);
}

.index {
    background: url("../image/9@2x.png") no-repeat center;
    background-size: cover;
}

.job {
    background: url("../image/5@2x.png") no-repeat center;
    background-size: cover;
}

.exp {
    background: url("../image/7@2x.png") no-repeat center;
    background-size: cover;
}

.com {
    background: url("../image/4@2x.png") no-repeat center;
    background-size: cover;
}

.me {
    background: url("../image/8-2@2x.png") no-repeat center;
    background-size: cover;
}









