a {
    color: #999;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

em {
    color: #3db6ba;
}

td {
    color: #aaa;
}

body {
    background-color: #f0f0f0;
}

header, nav, table, ul, footer {
    background-color: #fff;
}

header {
    padding: .3rem;
    padding-bottom: .5rem;
    margin-bottom: 2px;
}

table {
    margin-left: 2.5rem;
}

table thead td {
    font-size: .46875rem;
    color: #000;
}

table tbody tr td:nth-of-type(2) {
    text-indent: .6rem;
}

img {
    width: 2.08rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
}

nav {
    text-align: center;
    margin-bottom: 1rem;
}

nav a {
    margin: .3rem;
}

nav a, footer a {
    display: inline-block;
    text-align: center;
    font-size: .40625rem;
    width: 24.8%;
}

ul > li {
    color: #666;
    border-bottom: 1px solid #f0f0f0;
}

ul li a {
    padding: .5rem 0;
    display: inline-block;
    width: 100%;
    text-indent: .36rem;
}

ul li a:after {
    content: '>';
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: .8rem;
}

.file {
    transition: .2s ease-in-outa 0s;
    width: .9rem;
    height: 1.08rem;
    line-height: 1.08rem;
    text-align: center;
    border-radius: .125rem;
    color: #fff;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: .6rem -.75rem 0 0 #086acd inset;
    margin: 0 auto .2rem;
}

.file:after {
    content: '';
    position: absolute;
    z-index: 1;
    border-width: 0;
    border-bottom: 1rem solid rgba(8, 106, 205, 0.6);
    border-right: .8rem solid rgba(0, 0, 0, 0);
    top: -.59rem;
    right: -.06rem;
}

footer {
    width: 100%;
    font-size: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer a {
    font-size: .3rem;
}

footer a i {
    width: .859375rem;
    height: .859375rem;
    font-size: 1.2rem;
    color: #fff;
    display: block;
    margin: 0 auto;
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    footer a:nth-of-type(1) i {
        background: url("CssGaga.png") no-repeat 0;
        background-size: cover;
    }

    footer a:nth-of-type(2) i {
        background: url("CssGaga.png") no-repeat 43%;
        background-size: cover;
    }

    footer a:nth-of-type(3) i {
        background: url("CssGaga.png") no-repeat 71%;
        background-size: cover;
    }

    footer a:nth-of-type(4) i {
        background: url("CssGaga.png") no-repeat 100%;
        background-size: cover;
    }

}

footer a:nth-of-type(1) i {
    background: url("CssGaga.png") no-repeat 0;
    background-size: cover;
}

footer a:nth-of-type(2) i {
    background: url("CssGaga.png") no-repeat 43%;
    background-size: cover;
}

footer a:nth-of-type(3) i {
    background: url("CssGaga.png") no-repeat 71%;
    background-size: cover;
}

footer a:nth-of-type(4) i {
    background: url("CssGaga.png") no-repeat 100%;
    background-size: cover;
}