a {
    color: #999;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

h1 {
    font-size: .4375rem;
    color: #333333;
    margin-bottom: .46875rem;
}

section h1:not(:first-child) {
    margin-top: .9375rem;
}

header {
    padding: .3125rem;

}

header .select {
    position: absolute;
}

header .select span {
    vertical-align: middle;
    padding: .4rem 0 .4rem .6rem;
    display: inline-block;
    font-size: .4rem;
}

header .select:after {
    content: '';
    border: .12rem solid;
    border-color: currentColor transparent transparent transparent;
    position: absolute;
    margin-top: .58rem;
    margin-left: .1rem;
}

header input {
    width: 8.5rem;
    border: 1px solid #ccc;
    border-radius: .625rem;
    text-indent: 1.8rem;
    padding: .4rem;
    font-size: .4rem;
}

header i {
    background: url("icon-3-1.png") no-repeat center center;
    background-size: 70%;
    position: absolute;
    right: 0;
    margin-right: .89rem;
    padding: .6rem;
}
.warp{
    padding-bottom: .8rem;
}
nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

nav a {
    padding: .625rem 0;
    width: 32.5%;
    text-align: center;
    font-size: .42rem;
    display: inline-block;

}

nav a:before {
    content: '';
    border: .15rem solid;
    border-color: currentColor transparent transparent transparent;
    position: relative;
    top: .37rem;
    left: -.16rem;

}

section:not(:nth-of-type(1)) {
    display: none;
}

section {
    padding: .625rem .9375rem 1.25rem;
}

input[type='radio'] {
    opacity: 0;
    visibility: hidden;
    display: none;
}

label {
    display: inline-block;
    width: 2.5rem;
    background-color: #f7f7f7;
    color: #666;
    text-align: center;
    padding: .2rem 0 .2rem 0;
    font-size: .4rem;
    margin: 0 .1rem .2rem 0;

}

input[type='radio']:checked + label {
    color: #fff;
    background-color: #34b9be;
}

.selDiv {
    display: none;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    margin-left: .5rem;
    margin-top: 1.5rem;
    border-radius: .125rem;
}

.selDiv:before {
    content: '';
    border: 12px solid;
    border-color: transparent transparent rgba(0, 0, 0, .8) transparent;
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;

}

.selDiv div {
    padding: .4rem;
    font-size: .4rem;
}

.selDiv div:nth-of-type(1) {
    padding-bottom: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    font-size: 0;
    text-align: center;
    z-index: 9;

}

footer a {
    font-size: .3rem;
    display: inline-block;
    text-align: center;
    width: 24.9%;
}

footer a i {
    width: .859375rem;
    height: .859375rem;
    font-size: 1.2rem;
    color: #fff;
    display: block;
    margin: 0 auto;
}

footer a:nth-of-type(1) i {
    background: url("icon-1-2.png") no-repeat;
    background-size: cover;
}

footer a:nth-of-type(2) i {
    background: url("icon-2-1.png") no-repeat;
    background-size: cover;
}

footer a:nth-of-type(3) i {
    background: url("icon-3-1.png") no-repeat;
    background-size: cover;
}

footer a:nth-of-type(4) i {
    background: url("icon-4-1.png") no-repeat;
    background-size: cover;
}

footer a:nth-of-type(5) i {
    background: url("icon-5-1.png") no-repeat;
    background-size: cover;
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    footer a:nth-of-type(1) i {
        background: url("icon-1-2@2x.png") no-repeat;
        background-size: cover;
    }

    footer a:nth-of-type(2) i {
        background: url("icon-2-1@2x.png") no-repeat;
        background-size: cover;
    }

    footer a:nth-of-type(3) i {
        background: url("icon-3-1@2x.png") no-repeat;
        background-size: cover;
    }

    footer a:nth-of-type(4) i {
        background: url("icon-4-1@2x.png") no-repeat;
        background-size: cover;
    }

    footer a:nth-of-type(5) i {
        background: url("icon-5-1@2x.png") no-repeat;
        background-size: cover;
    }
}
