ol {
    list-style: decimal inside;
}

.title header {
    background: url(../cache/widget-2.jpg) no-repeat;
    height: 6.56rem;
    background-size: cover;
    box-sizing: border-box;
}

.title header h1 {
    background-color: rgba(52, 185, 190, 0.8);
    width: 7.733rem;
    margin: 0 auto;
    font-size: .5rem;
    text-align: center;
    color: #fff;
    padding: .613rem .24rem;
}

.title header div {
    position: absolute;
    top: .1733rem;
    left: 0;
    transform: rotate(-45deg);
    color: #fff;
}

.title header div:before {
    content: '';
    width: 0;
    height: 0;
    border: 1.6rem solid;
    border-color: transparent transparent rgb(52, 185, 190) transparent;
    position: absolute;
    z-index: -1;
    top: -2.1rem;
    left: -.9rem;
}

.title header div em {
    font-size: .48rem;
    font-weight: 700;
}

.title header div em:after {
    content: '\A';
    white-space: pre;
}

.title header span {
    position: absolute;
    right: 0;
    top: .51rem;
    display: inline-block;
    background-color: #ff6f6f;
    border-radius: .3rem 0 0 .3rem;
    height: .56rem;
    padding-left: .24rem;
    border: 1px solid;
    border-right: none;
    line-height: .56rem;
    color: #fff;
}

section {
    background-color: #fff;
    margin-top: .28rem;
    padding: 0 .3rem;
    color: #999;
    font-size: .4rem;
    line-height: 2;
}

section .timeLine {
    width: 87%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    height: .13rem;
    margin: .4rem auto;
}

section .timeLine span {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-top: -.15rem;
}

section .timeLine .old {
    background-color: #3DB9BE;
}

section .timeLine .old:after {
    content: '';
    display: inline-block;
    background-color: #3DB9BE;
    width: 2.24rem;
    height: .13rem;
    position: absolute;
    margin-top: .16rem;
    margin-left: .37rem;
}

section .timeLine .today {
    background: rgb(255, 174, 0);
    box-shadow: 0 0 0 0 rgba(255, 174, 0, .5);
    animation: now 1s infinite linear;
}

@keyframes now {
    100% {
        box-shadow: 0 0 0 28px rgba(255, 174, 0, 0);
    }
}

@-webkit-keyframes now {
    100% {
        box-shadow: 0 0 0 28px rgba(255, 174, 0, 0);
    }
}

@-ms-keyframes now {
    100% {
        box-shadow: 0 0 0 28px rgba(255, 174, 0, 0);
    }
}

section .time {
    display: flex;
    justify-content: space-between;
}

section .time div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

section .time .now {
    color: #3DB9BE;
}

section .time .future {
    color: #666;
}

section .time p {
    font-size: .32rem;
}

section .time span {
    font-size: .3rem;
}

section:nth-of-type(2) h1 {
    font-size: .5rem;
    color: #666;
    padding: .72rem 0 .2rem;
    border-bottom: 2px solid #A1D8DA;
    width: 2rem;
    margin: 0 auto .86rem;
}

section:nth-of-type(2) h1:after {
    content: '';
    width: .213rem;
    height: .213rem;
    background-color: #A1D8DA;
    display: block;
    position: absolute;
    transform: rotateZ(45deg);
    margin-left: .9rem;
    margin-top: .1rem;
}

section:nth-of-type(2) img {
    width: 100%;
}

section h2 {
    color: #666;
}

section:nth-of-type(2) h2:first-of-type {
    border-top: 2px solid #eaeaea;
    margin-top: .8rem;
    padding-top: .8rem;
}

header {
    background: url("../cache/1.png");
    height: 2.133rem;
    width: 100%;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: .48rem;
}

header span {
    font-size: .27rem;
}

header span > span:before {
    content: '\A';
    white-space: pre;
}

section:nth-of-type(3) article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 1.6rem;
    margin: .7rem auto;
    background-color: #eaeaea;
    border-radius: .125rem;
}

section:nth-of-type(3) article strong {
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #eaeaea;
    border: 5px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: .4rem;
    line-height: .7rem;
    margin-left: 4.63rem;
    margin-top: -.45rem;
    left: 0;

}

section:nth-of-type(3) article h1 {
    font-size: .48rem;
    color: #666;
}

section:nth-of-type(3) article em {
    position: absolute;
    right: 0;
    font-size: .4rem;
    color: #999;
    margin-right: .5rem;
    margin-top: .45rem;
}

section:nth-of-type(3) article i {
    overflow: hidden;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: text-bottom;
    position: absolute;
    right: 0;
    margin-right: 1.3rem;
    line-height: 0;
}

section:nth-of-type(3) article > i {
    margin-top: .6rem;
}

section:nth-of-type(3) article i > i {
    left: -.5rem;
    border-right: .5rem solid transparent;
    -webkit-filter: drop-shadow(#3DB9BE .5rem 0);
    background: url("../images/pos.png") no-repeat;
    background-size: cover;
}

section:nth-of-type(3) p em {
    color: #3DB9BE;
}

button {
    display: block;
    width: 6rem;
    padding: .3rem 0;
    color: #fff;
    font-size: .48rem;
    border-radius: 1.4rem;
    border: none;
    margin: 0.46875rem auto 0;
    box-shadow: 0 .25rem .25rem -.125rem #3DB9BE;
    background-color: #3db6ba;

}

.slogen {
    background: url("../images/slogen.png") no-repeat;
    height: 1.6rem;
    background-size: contain;
    margin: .9rem 0;
    padding-bottom: 1rem;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 1.33rem;
    background-color: #fff;
    font-size: .4rem;
    width: 100%;
    color: #999;
}

footer > div {
    width: 25%;
    text-align: center;
    height: 100%;
    line-height: 1.33rem;
}

footer i {
    overflow: hidden;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: text-bottom;
    position: absolute;
    right: 4.2rem;
    z-index: 2;
}

footer div > i {
    margin-top: .4rem;
}

footer i > i {
    left: -.5rem;
    border-right: .5rem solid transparent;
    -webkit-filter: drop-shadow(#999 .5rem 0);
    background: url("../images/menu.png") no-repeat;
    background-size: cover;
}

footer > div:last-of-type {
    background-color: #3db6ba;
    color: #fff;
    font-size: .48rem;
}

.typing-indicator {
    background-color: #E6E7ED;
    width: auto;
    border-radius: 50%/100%;
    padding: .11rem;
    position: absolute;
    margin-left: -.53rem;
    margin-top: .53rem;
}

.typing-indicator span {
    height: .0625rem;
    width: .0625rem;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.heart {
    position: absolute;
    animation: pounding .5s linear infinite alternate;
    margin-left: .16rem;
    margin-top: .49rem;
}

.heart:before {
    position: absolute;
    content: "";
    left: .14rem;
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    position: absolute;
    content: "";
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
}

@keyframes pounding {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.menu {
    text-align: center;
    position: relative;
    opacity:0;
    /*display: none;*/

}

.menu h1 {
    font-size: .48rem;
    color: #666;
    padding: .8rem 0 .6rem 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.menu em {
    position: absolute;
    right: .8rem;
    top: .4rem;
    color: #ddd;
    font-size: .48rem;
}

.menu p {
    padding: .3rem 0;
    background-color: #f0f0f0;
    width: 8.95rem;
    margin: 0 auto;
    text-align: left;
    text-indent: 1.4rem;
    margin-top: .33rem;
    position: relative;
}

i.pos, i.pos i {
    overflow: hidden;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: text-bottom;
    position: absolute;

}

i.pos {
    margin-left: -.68rem;
}

i.other {
    margin-top: .43rem;
}

i.pos > i {
    left: -.5rem;
    border-right: .5rem solid transparent;
    -webkit-filter: drop-shadow(#3DB9BE .5rem 0);
    background: url("../images/pos.png") no-repeat;
    background-size: cover;
}

.menu ul {
    text-align: left;
    padding-left: 1.22rem;
}

.menu ul a {
    color: #999;
    width: 90%;
    height: 100%;
    display: inline-block;
    font-size: .4rem;
}

.menu ul li {
    line-height: 3;
}

.menu ul li:before {
    content: attr(data-num);
    width: .53rem;
    height: .53rem;
    background-color: #3DB9BE;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: .53rem;
    margin-right: .2rem;
}

.menu h1 a {
    color: #3DB9BE;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: .8rem 0 .6rem 0;
}

