header {
    background: url("../cache/1.png");
    height: 2.133rem;
    width: 100%;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: .48rem;
}

header span {
    font-size: .27rem;
}

header span > span:before {
    content: '\A';
    white-space: pre;
}

.wrap {
    background-color: #f0f0f0;
    padding: .4rem .27rem .51rem;
}

.wrap section {
    overflow: hidden;
    border-radius: .125rem;
    position: relative;
    background-color: #fff;
    padding-bottom: .7rem;
    margin-bottom: .5rem;
}

.wrap section img {
    width: 100%;
    height: 4.44rem;
}

.wrap section div {
    position: absolute;
    color: #fff;
    top: 0;
}

.wrap section cite {
    padding: .2rem .27rem;
    font-size: .427rem;
    color: #333;
    display: block;
}

.wrap section main {
    font-size: .37rem;
    color: #999;
    padding: 0 .27rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: .48rem;
    color: #666;
    padding: .3rem .5rem;
}

nav a.active {
    color: #34B9BE;
    border-bottom: 9px solid currentColor;
}

.wrap section p {
    padding-left: .27rem;
    display: inline-block;
}

.wrap section p:first-of-type {
    line-height: 1.9;
    margin-right: .8rem;
}

.wrap section p:not(:first-of-type) {
    text-align: center;
    border-left: 1px solid #ddd;
}

.wrap section p a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.wrap section span {
    font-size: .4rem;
    color: #999;
}

.wrap section time {
    font-size: .4rem;
    color: #3DB9BE;
}

.wrap section p time:after {
    content: '\A';
    white-space: pre;
}

.wrap section p em {
    font-size: .8rem;
    color: #3DB9BE;
}

.wrap section p em:after {
    content: '\A';
    white-space: pre;
}

.wrap section aside {
    padding-left: .27rem;
}

.wrap section aside time:first-of-type {
    margin-right: 1.8rem;
}

.wrap section div:first-of-type {
    position: absolute;
    top: .1733rem;
    left: 0;
    transform: rotate(-45deg);
    color: #fff;
}

.wrap section div:first-of-type:before {
    content: '';
    width: 0;
    height: 0;
    border: 1.6rem solid;
    border-color: transparent transparent rgb(52, 185, 190) transparent;
    position: absolute;
    z-index: -1;
    top: -2.1rem;
    left: -.9rem;
}

.wrap section div:first-of-type em {
    font-size: .48rem;
    font-weight: 700;
}

.wrap section div:first-of-type em:after {
    content: '\A';
    white-space: pre;
}

.wrap section div:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: .51rem;
    display: inline-block;
    background-color: #ff6f6f;
    border-radius: .3rem 0 0 .3rem;
    height: .56rem;
    padding-left: .24rem;
    border: 1px solid;
    border-right: none;
    line-height: .56rem;
    color: #fff;
}