header {
    background: url(../cache/1.png) no-repeat;
    width: 100%;
    height: 2.13rem;
    color: #fff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: .48rem;

}

header h2 {
    font-size: .4rem;
}

.wrap {
    padding: 0 .3rem .8rem;
    text-align: center;
}

.wrap h1 {
    font-size: .5rem;
    color: #666;
    padding: .72rem 0 .2rem;
    border-bottom: 2px solid #A1D8DA;
    width: 2rem;
    margin: 0 auto .86rem;
}

.wrap h1:after {
    content: '';
    width: .213rem;
    height: .213rem;
    background-color: #A1D8DA;
    display: block;
    position: absolute;
    transform: rotateZ(45deg);
    margin-left: .9rem;
    margin-top: .1rem;
}

.wrap p {
    font-size: .4rem;
    color: #999;
    text-align: justify;
}
.wrap img{
    width:100%;
}
.wrap h2{
    font-size: .5rem;
    color: #666;
    padding-top:.72rem;
}
.wrap table{
    text-align: center;
    width:100%;
    color: #999;
}
.wrap table thead td{
    background-color: #3DB6BE;
    color: #fff;
}
.wrap table td{
    height:.8rem;
}
.wrap table tbody tr:nth-child(even){
    background-color: #eaeaea;
}