.title header {
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    height: 5.5rem;
}

.title header img {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title header h1 {
    background-color: rgba(52, 185, 190, 0.8);
    width: 7.733rem;
    font-size: .5rem;
    text-align: center;
    color: #fff;
    padding: .613rem .24rem;
}

.title header div {
    position: absolute;
    top: .1733rem;
    left: 0;
    transform: rotate(-45deg);
    color: #fff;
}

.title header div:before {
    content: '';
    width: 0;
    height: 0;
    border: 1.6rem solid;
    border-color: transparent transparent rgb(52, 185, 190) transparent;
    position: absolute;
    z-index: -1;
    top: -2.1rem;
    left: -.9rem;
}

.title header div em {
    font-size: .48rem;
    font-weight: 700;
}

.title header div em:after {
    content: '\A';
    white-space: pre;
}

.title header span {
    position: absolute;
    right: 0;
    top: .51rem;
    display: inline-block;
    background-color: #ff6f6f;
    border-radius: .3rem 0 0 .3rem;
    height: .56rem;
    padding-left: .24rem;
    border: 1px solid;
    border-right: none;
    line-height: .56rem;
    color: #fff;
}

section {
    background-color: #fff;
    margin-top: .28rem;
    padding: 0 .3rem;
    color: #999;
    font-size: .4rem;
    line-height: 2;
}

section h1 {
    color: #666;
}

section:first-of-type h1 {
    margin-top: .4rem;
}

section h1 span {
    color: #999;
}

section strong {
    color: #3DB9BE;
    margin-right: .3rem;
}

section ul {
    list-style: disc outside;
    margin-left: 43px;
}

section .timeLine {
    width: 87%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    height: .13rem;
    margin: .4rem auto;
}

section .timeLine span {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-top: -.15rem;
}

section .timeLine .old {
    background-color: #3DB9BE;
}

section .timeLine .old:after {
    content: '';
    display: inline-block;
    background-color: #3DB9BE;
    width: 2.24rem;
    height: .13rem;
    position: absolute;
    margin-top: .16rem;
    margin-left: .37rem;
}

section .timeLine .today {
    background: rgb(255, 174, 0);
    box-shadow: 0 0 0 0 rgba(255, 174, 0, .5);
    animation: now 1s infinite linear;
}

@keyframes now {
    100% {
        box-shadow: 0 0 0 28px rgba(255, 174, 0, 0);
    }
}

@-webkit-keyframes now {
    100% {
        box-shadow: 0 0 0 28px rgba(255, 174, 0, 0);
    }
}

@-ms-keyframes now {
    100% {
        box-shadow: 0 0 0 28px rgba(255, 174, 0, 0);
    }
}

section .time {
    display: flex;
    justify-content: space-between;
}

section .time div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

section .time .now {
    color: #3DB9BE;
}

section .time .future {
    color: #666;
}

section .time p {
    font-size: .32rem;
}

section .time span {
    font-size: .3rem;
}

section:nth-of-type(2) h1 {
    font-size: .5rem;
    padding: .72rem 0 .2rem;
    border-bottom: 2px solid #A1D8DA;
    text-align: center;
}

section:nth-of-type(2) h1:after {
    content: '';
    width: .213rem;
    height: .213rem;
    background-color: #A1D8DA;
    display: block;
    position: absolute;
    transform: rotateZ(45deg);
    margin-left: 4.5rem;
    margin-top: .1rem;
}

section:nth-of-type(2) img {
    width: 100%;
}

section h2 {
    color: #666;
}

aside {
    background: url("../cache/1.png");
    height: 2.133rem;
    width: 100%;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.1rem;
}

aside h1 {
    font-size: .48rem;
    margin-right: .2rem;
}

aside span {
    font-size: .27rem;
}

aside span > span:before {
    content: '\A';
    white-space: pre;
}

section:nth-of-type(2) article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 1.6rem;
    margin: .7rem auto;
    background-color: #eaeaea;
    border-radius: .125rem;
}

section:nth-of-type(2) article strong {
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #eaeaea;
    border: 5px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: .4rem;
    line-height: .7rem;
    margin-left: 4.63rem;
    margin-top: -.45rem;
    left: 0;

}

section:nth-of-type(2) article h2 {
    font-size: .48rem;
}

section:nth-of-type(2) p em {
    color: #3DB9BE;
}

button {
    display: block;
    width: 6rem;
    padding: .3rem 0;
    color: #fff;
    font-size: .48rem;
    border-radius: 1.4rem;
    border: none;
    margin: 0.46875rem auto .7rem;
    box-shadow: 0 .25rem .25rem -.125rem #3DB9BE;
    background-color: #3db6ba;

}

.wrap {
    background-color: #f0f0f0;
    padding: .43rem .3rem .5rem;
}

.wrap section {
    border-radius: .125rem;
    background-color: #fff;
    margin-bottom: .5rem;
    position: relative;
}

.wrap section address {
    font-size: .32rem;
    color: #999;
    margin-bottom: .4rem;
}

.wrap section span {
    font-size: .43rem;
    color: #666;
    display: inline-block;
    margin-top: .4rem;
}

.wrap section img {
    max-width: 1.2rem;
    max-height: 1.2rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    float: left;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-top: .4rem;
}

.wrap section i, section i > i {
    overflow: hidden;
    width: .6rem;
    height: .6rem;
    display: inline-block;
}

.wrap section main {
    line-height: 1.7;
    padding: 0 .3rem .85rem;
    color: #999;
}

.wrap section a > i {
    position: absolute;
    margin-left: .3rem;
    bottom: .08rem;
}

.wrap section .video {
    position: absolute;
    margin-left: .9rem;
    color: #999;
    bottom: 0;
}

.wrap section i > i {
    -webkit-filter: drop-shadow(#34B8BE .6rem 0);
    background: url("../images/video.png") no-repeat center;
    background-size: cover;
    position: relative;
    left: -.6rem;
    border-right: .6rem solid transparent;
}

.slogen {
    background: url("../images/slogen.png") no-repeat;
    height: 1.6rem;
    background-size: contain;
    padding-bottom: 1.6rem;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 1.33rem;
    background-color: #fff;
    font-size: .4rem;
    width: 100%;
    color: #999;
}

footer > div {
    width: 25%;
    text-align: center;
    height: 100%;
    line-height: 1.33rem;
}

footer i {
    overflow: hidden;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: text-bottom;
    position: absolute;
    right: 4.2rem;
    z-index: 2;
}

footer div > i {
    margin-top: .4rem;
}

footer i > i {
    left: -.5rem;
    border-right: .5rem solid transparent;
    -webkit-filter: drop-shadow(#999 .5rem 0);
    background: url("../images/menu.png") no-repeat;
    background-size: cover;
}

footer > div:last-of-type {
    background-color: #3db6ba;
    color: #fff;
    font-size: .48rem;
}

.typing-indicator {
    background-color: #E6E7ED;
    width: auto;
    border-radius: 50%/100%;
    padding: .11rem;
    position: absolute;
    margin-left: -.53rem;
    margin-top: .53rem;
}

.typing-indicator span {
    height: .0625rem;
    width: .0625rem;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.heart {
    position: absolute;
    animation: pounding .5s linear infinite alternate;
    margin-left: .16rem;
    margin-top: .49rem;
}

.heart:before {
    position: absolute;
    content: "";
    left: .14rem;
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    position: absolute;
    content: "";
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
}

@keyframes pounding {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.mask {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.menu, .job, .resume {
    text-align: center;
    position: relative;
    opacity: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu h1, .job h1, .resume h1 {
    font-size: .48rem;
    color: #666;
    padding: .8rem 0 .6rem 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.menu em, .job em, .resume em {
    position: absolute;
    right: .8rem;
    top: .4rem;
    color: #ddd;
    font-size: .48rem;
}

.menu p {
    padding: .3rem 0;
    background-color: #f0f0f0;
    width: 8.95rem;
    margin: 0 auto;
    text-align: left;
    text-indent: 1.4rem;
    margin-top: .33rem;
    position: relative;
}

i.pos, i.pos i {
    overflow: hidden;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: text-bottom;
    position: absolute;

}

i.pos {
    margin-left: -.68rem;
    margin-top: .213rem;
}

i.other {
    margin-top: .43rem;
}

i.pos > i {
    left: -.5rem;
    border-right: .5rem solid transparent;
    -webkit-filter: drop-shadow(#3DB9BE .5rem 0);
    background: url("../images/pos.png") no-repeat;
    background-size: cover;
}

.menu ul {
    text-align: left;
    padding-left: 1.22rem;
    list-style: none;
    margin: 0;
}

.menu ul a {
    color: #999;
    width: 90%;
    height: 100%;
    display: inline-block;
    font-size: .4rem;
}

.menu ul li {
    line-height: 3;
}

.menu ul li:before {
    content: attr(data-num);
    width: .53rem;
    height: .53rem;
    background-color: #3DB9BE;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: .53rem;
    margin-right: .2rem;
}

.menu h2 a {
    color: #3DB9BE;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: .8rem 0 .6rem 0;
}

#praise:before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url("web_heart_animation.png") 0 0 no-repeat;
    background-size: 2900%;
    position: absolute;
    margin-left: -.9rem;
    margin-top: .1rem;

}

a.praise:before {
    animation: heart steps(28) .8s both .1s;
}

@keyframes heart {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}