header {
    background: url("../cache/1.png");
    height: 2.133rem;
    width: 100%;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: .48rem;
}

header span {
    font-size: .4rem;
}

section {
    border-bottom: 1px solid #ddd;
    color: #999;
}

section img {
    max-width: 1.2rem;
    max-height: 1.2rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    float: left;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-top: .4rem;
}

section main {
    line-height: .634rem;
    font-size: .373rem;
    padding: 0 .3rem;
    text-align: justify;
}

section p {
    display: block;
    margin-left: 1.71rem;
    text-align: justify;
    margin-bottom: .5rem;
    padding-right: .5rem;
    color: #999;
    margin-top: .3rem;
}

section ul {
    list-style: none;
    background: #eee;
    margin-left: 1.49rem;
    margin-right: .45rem;
}

section li {
    padding-bottom: .1rem;
    border-bottom: 2px solid #fff;
}

section button {
    font-size: .3rem;
    border: none;
    padding: 3px 5px;
    background-color: #f0f0f0;
    margin: .2rem .2rem .2rem 1.5rem;
}

section span {
    font-size: .43rem;
    color: #666;
    display: inline-block;
    margin-top: .4rem;
}

section cite {
    display: block;
    margin-left: 1.71rem;
    text-align: justify;
    margin-bottom: .5rem;
    padding-right: .5rem;
}

section .floor {
    float: right;
    margin-right: .5rem;
}

section address, section time {
    font-size: .32rem;
    color: #999;
    margin-bottom: .3rem;
    display: block;
}

section address:after {
    content: '';
    clear: both;
}

section h2 {
    text-align: right;
    margin-bottom: .1rem;
}

section div {
    display: inline-block;
    margin-right: .8rem;
    position: relative;
    vertical-align: super;
}

.typing-indicator {
    background-color: #E6E7ED;
    width: auto;
    border-radius: 50%/100%;
    padding: .11rem;
    position: absolute;
    margin-left: -.55rem;
    margin-top: .52rem;
}

.typing-indicator span {
    height: .0625rem;
    width: .0625rem;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.heart {
    position: absolute;
    margin-top: .52rem;
    margin-left: -.6rem;
}

.heart:before {
    position: absolute;
    content: "";
    left: .14rem;
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    position: absolute;
    content: "";
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
}

.heart2 {
    animation: pounding .5s linear infinite alternate;
}

@keyframes pounding {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#replyArea {
    display: none;
    opacity: 0;
    padding-bottom: 2rem;
}

#replyArea section img {
    max-width: 1.2rem;
    max-height: 1.2rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    float: left;
    margin-left: .3rem;
    margin-right: .3rem;
    margin-top: .4rem;
}

.replyList section {
    background-color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

#reply {
    padding: .15625rem .3125rem;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 2;
    width: 100%;
    margin-left: -.3125rem;
    display: none;
    opacity: 0;
    position: fixed;
    border-top: 1px solid #ddd;
}

#reply input {
    outline: none;
    border-radius: .125rem;
    background-color: #f0f0f0;
    width: 5.9rem;
    height: 1rem;
    text-indent: .2rem;
    font-size: .375rem;
    color: #999;
    margin: 0 .35rem;
}

#reply a {
    display: inline-block;
    width: .8rem;
    padding: 0.3rem;
}

@keyframes heart {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

#reply a:nth-of-type(1) {
    position: relative;
}

#reply a.praise:before {
    animation: heart steps(28) .8s both .1s;
}

#reply a:nth-of-type(1):before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url("web_heart_animation.png") 0 0 no-repeat;
    background-size: 2900%;
    position: absolute;
    margin-left: -.9rem;
    margin-top: -.37rem;
}