img {
    width:100%;
}
header {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

header > a {
    color: #999;
    font-size: .37rem;
    height: 1.27rem;
    display: inline-block;
    width: 19.2%;
    text-align: center;
    line-height: 1.27rem;
    margin-bottom: .24rem;
}

header > .active {
    color: #34B9BE;
    border-bottom: .12rem solid currentColor;
}

header > input {
    width: 7.7rem;
    padding: .3rem 0;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    font-size: .4rem;
    color: #bbb;
    text-indent: .5rem;
    margin: 0 0 .2rem .3rem;
    border-radius: .125rem;
}

header > button {
    padding: .25rem .4rem;
    font-size: .4rem;
    border: none;
    outline: none;
    background-color: #CECECE;
    color: #fff;
    border-radius: .125rem;
}

nav {
    width: 17.0664rem;
    overflow: hidden;
    font-size: 0;
}

nav a {
    width: 2.1333rem;
    display: inline-flex;
    flex-direction: column;
    font-size: .27rem;
    background-color: #34B9BE;
    align-items: center;
    color: #fff;
}

nav .active {
    background-color: #fff;
    color: #34B9BE;
}

nav img {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    margin: 0 auto;
}

nav i {
    overflow: hidden;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    vertical-align: sub;
}

nav i > i {
    position: relative;
    left: -1.2rem;
    border-right: 1.2rem solid transparent;
}

.story {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/story.png") no-repeat center;
    background-size: cover;
}

.exp {
    -webkit-filter: drop-shadow(#34B8BE 1.2rem 0);
    background: url("../images/exp.png") no-repeat center;
    background-size: cover;
}

.col {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/col.png") no-repeat center;
    background-size: cover;
}

.ass {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/ass.png") no-repeat center;
    background-size: cover;
}

.work {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/work.png") no-repeat center;
    background-size: cover;
}

.ara {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/ara.png") no-repeat center;
    background-size: cover;
}

.det {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/det.png") no-repeat center;
    background-size: cover;
}

.que {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/que.png") no-repeat center;
    background-size: cover;
}

.wrap {
    background-color: #f0f0f0;
    padding: .43rem .3rem .5rem;
    text-align: center;
    margin-top: 4.5rem;
}

section {
    border-radius: .125rem;
    overflow: hidden;
    margin-bottom: .4rem;
    text-align: left;
    background-color: #fff;
    padding-bottom: .3rem;
}

section p {
    font-size: .32rem;
    color: #999;
    border-bottom: 1px solid #eaeaea;
    padding: .32rem 0 .2rem .3rem;
}

section p em {
    color: #34B9BE;
}

section img {
    max-height: 4.7rem;
}

section cite {
    font-size: .48rem;
    color: #333;
    padding-left: .3rem;
}

section address {
    font-size: .32rem;
    color: #999;
    padding-left: .3rem;
    word-spacing: .4rem;
    line-height: .7rem;
}

section main {
    font-size: .4rem;
    color: #999;
    padding-left: .3rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}