img{
    width:100%;
    display: inline-block;
    margin-bottom: .5rem;
}
header {
    overflow: hidden;
    position: fixed;
    top:0;
    background-color: #fff;
    z-index: 2;
}

header > a {
    color: #999;
    font-size: .37rem;
    height: 1.27rem;
    display: inline-block;
    width: 19.2%;
    text-align: center;
    line-height: 1.27rem;
    margin-bottom: .24rem;
}

header > .active {
    color: #34B9BE;
    border-bottom: .12rem solid currentColor;
}

header > input {
    width: 7.7rem;
    padding: .3rem 0;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    font-size: .4rem;
    color: #bbb;
    text-indent: .5rem;
    margin: 0 0 .2rem .3rem;
    border-radius: .125rem;
}

header > button {
    padding: .25rem .4rem;
    font-size: .4rem;
    border: none;
    outline: none;
    background-color: #CECECE;
    color: #fff;
    border-radius: .125rem;
}

nav {
    width: 17.0664rem;
    overflow: hidden;
    font-size: 0;
}

nav a {
    width: 2.1333rem;
    display: inline-flex;
    flex-direction: column;
    font-size: .27rem;
    background-color: #34B9BE;
    align-items: center;
    color: #fff;
}

nav .active {
    background-color: #fff;
    color: #34B9BE;
}

nav img {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    margin: 0 auto;
}

nav i {
    overflow: hidden;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    vertical-align: sub;
}

nav i > i {
    position: relative;
    left: -1.2rem;
    border-right: 1.2rem solid transparent;
}

.story {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/story.png") no-repeat center;
    background-size: cover;
}

.exp {
    -webkit-filter: drop-shadow(#34B8BE 1.2rem 0);
    background: url("../images/exp.png") no-repeat center;
    background-size: cover;
}

.col {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/col.png") no-repeat center;
    background-size: cover;
}

.ass {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/ass.png") no-repeat center;
    background-size: cover;
}

.work {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/work.png") no-repeat center;
    background-size: cover;
}

.ara {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/ara.png") no-repeat center;
    background-size: cover;
}

.det {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/det.png") no-repeat center;
    background-size: cover;
}

.que {
    -webkit-filter: drop-shadow(#fff 1.2rem 0);
    background: url("../images/que.png") no-repeat center;
    background-size: cover;
}

.wrap {
    background-color: #f0f0f0;
    padding: .43rem .3rem .5rem;
    margin-top: 4.5rem;
}

section {
    border-radius: .125rem;
    background-color: #fff;
    margin-bottom: .5rem;
}

section p {
    font-size: .32rem;
    color: #999;
    border-bottom: 1px solid #eaeaea;
    padding: .32rem 0 .2rem .3rem;
}

section p em {
    color: #34B9BE;
}

section img {
    width: 100%;
}


section h1 {
    font-size: .40625rem;
    color: #333;
    padding: .4rem 0 0 .3rem;
}

section h2 {
    text-align: right;
    margin-bottom: .1rem;
    color: #999;
}

section article {
    font-size: .3125rem;
    color: #999;
    display: inline-block;
    padding: .2rem 1rem .35rem .3125rem;
}

section article span {
    color: #666;
}

section main {
    font-size: .34375rem;
    color: #666;
    margin: .2rem .375rem .4rem .3125rem;
    max-width: 100%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

section a > span:nth-of-type(1) {
    float: right;
    margin-right: .46875rem;
    display: inline-block;
    margin-bottom: 0.2rem;
}

section div {
    display: inline-block;
    margin-right: .8rem;
    position: relative;
    vertical-align: super;
}

section a > span:nth-of-type(2) {
    float: right;
    margin-right: .7rem;
}

.typing-indicator {
    background-color: #E6E7ED;
    width: auto;
    border-radius: 50%/100%;
    padding: .11rem;
    position: absolute;
    margin-left: -.6rem;
    margin-top: .08rem;
}

.typing-indicator span {
    height: .0625rem;
    width: .0625rem;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.heart {
    position: absolute;
    margin-top: .06rem;
    margin-left: -.6rem;
}

.heart:before {
    position: absolute;
    content: "";
    left: .14rem;
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    position: absolute;
    content: "";
    top: 0;
    width: 0.15625rem;
    height: .25rem;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
}

.heart2 {
    animation: pounding .5s linear infinite alternate;
}

@keyframes pounding {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.wrap section i {
    overflow: hidden;
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: sub;
}

.wrap section i > i {
    position: relative;
    left: -.5rem;
    border-right: .5rem solid transparent;
}

.icon1 {
    -webkit-filter: drop-shadow(#34B8BE .5rem 0);
    background: url("../images/2.png") no-repeat center;
    background-size: cover;
}

.icon2 {
    -webkit-filter: drop-shadow(#EEBB5B .5rem 0);
    background: url("../images/3.png") no-repeat center;
    background-size: cover;
}

.icon3 {
    -webkit-filter: drop-shadow(#BEBF56 .5rem 0);
    background: url("../images/5.png") no-repeat center;
    background-size: cover;
}

.icon4 {
    -webkit-filter: drop-shadow(#FFC898 .5rem 0);
    background: url("../images/4.png") no-repeat center;
    background-size: cover;
}

.icon5 {
    background: url("../images/1.png") no-repeat center;
    background-size: cover;
    -webkit-filter: drop-shadow(#86DBDF .5rem 0);
}