header {
    background: url(../cache/widget-2.jpg) no-repeat;
    height: 6.56rem;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 2.08rem;
}

header h1 {
    background-color: rgba(52, 185, 190, 0.8);
    width: 7.733rem;
    margin: 0 auto;
    font-size: .5rem;
    text-align: center;
    color: #fff;
    padding: .613rem .24rem;
}

header div {
    position: absolute;
    top: .13rem;
    left: 0;
    -webkit-transform: rotate(-45deg);
    color: #fff;
}

header div:before {
    content: '';
    width: 0;
    height: 0;
    border: 1.6rem solid;
    border-color: transparent transparent rgb(52, 185, 190) transparent;
    position: absolute;
    z-index: -1;
    top: -2.1rem;
    left: -.9rem;
}

header div em {
    font-size: .48rem;
    font-weight: 700;
}

header div em:after {
    content: '\A';
    white-space: pre;
}

header span {
    position: absolute;
    right: 0;
    top: .51rem;
    display: inline-block;
    background-color: #ff6f6f;
    border-radius: .3rem 0 0 .3rem;
    height: .56rem;
    padding-left: .24rem;
    border: 1px solid;
    border-right: none;
    line-height: .56rem;
    color: #fff;
}

.wrap {
    background-color: #f0f0f0;
    padding: 0 .3rem .8rem;
    text-align: center;
}

.wrap > a {
    display: inline-block;
    width: 9.5rem;
    height: 2.13rem;
    margin: .4rem 0;
    border-radius: .125rem;
    color: #fff;
    font-size: .3rem;
    line-height: 2.13rem;
    background: url("../cache/1.png");
}

.wrap > a em {
    font-size: .48rem;
    vertical-align: bottom;
}

.wrap section {
    border-radius: .125rem;
    overflow: hidden;
    margin-bottom: .4rem;
    text-align: left;
    background-color: #fff;
    padding-bottom: .7rem;
}
.play {
    border-radius: 2em;
    padding: 2em;
    display: inline-block;
    background: linear-gradient(90deg, white 36%, transparent 36%), linear-gradient(-30deg, white 40%, transparent 40%), linear-gradient(-150deg, white 40%, transparent 40%);
    opacity: .7;
    -webkit-backface-visibility: hidden;
    position: absolute;
    margin-left: 40%;
    margin-top: 16%;
}


.wrap section:last-of-type {
    margin-bottom: 0;
}

.wrap section cite {
    font-size: .48rem;
    color: #333;
    padding-left: .3rem;
}

.wrap section address {
    font-size: .32rem;
    color: #999;
    padding-left: .3rem;
    word-spacing: .4rem;
    line-height: .7rem;
}

.wrap section main {
    font-size: .4rem;
    color: #999;
    padding-left: .3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.wrap section img{
    width:100%;
}

button {
    outline: none;
    border: none;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #3DB9BE;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    left:44%;
    font-size: 1rem;
    color: #fff;
    line-height: 1.2rem;
    z-index: 9;
}

button a {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
    -webkit-transition: all .4s cubic-bezier(0.42, 0, 0.57, 1.35);
    font-size: .3rem;
    color: #3DB9BE;
}

button.active a {
    -webkit-transform: scale(1) rotate(360deg);
    opacity: 1;
}

button.active a:nth-of-type(1) {
    top: -1.5rem;
    left: -2.9rem;
}

button.active a:nth-of-type(2) {
    top: -3rem;
    left: -1.8rem;
}

button.active a:nth-of-type(3) {
    top: -3.65rem;
    left: 0;
}

button.active a:nth-of-type(4) {
    top: -3rem;
    left: 1.8rem;
}

button.active a:nth-of-type(5) {
    top: -1.5rem;
    left: 2.9rem;
}

.mask{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top:0;
    left:0;
    display: none;
    z-index: 2;
}
