@charset "utf-8";
// ======
// ==== 变量/函数
// ======

// 字体
$fontFamily: arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif, SimSun;

// 全局背景，禁止背景
$bgColor: #f0f0f0 #F9F9F9 !default;

// 标题颜色 (默认, 副标题, 小标题)
$fontColor: #333 #666 #999 !default;

// 主题色, 触发, 按下
$color1: #34b9be #46c5ca #14a29d !default;

// 绿色, 触发, 按下
$color2: #4eb14e #5cbd59 #45a744 !default;

// 红色, 触发, 按下
$color3: #ff825b #ff906d #fa734a !default;

// 橙色, 触发, 按下
$color4: #f7c05e #ffcb71 #f9b336 !default;

// 灰色, 触发, 按下
$color5: #ddd #e4e4e4 #d9d9d9 !default;

// 边框线
$borderColor: #eaeaea !default;

// PX转rem
@function pxToRem($px) {
	@return $px / 10px * 1rem;
}

// 生成字体大小
@mixin fontsize($fontsize: 14px) {
	font-size: $fontsize;
	// font-size: pxToRem($fontsize);
}
